[2016-10-22 13:12] OverlyExcessive opened #1 ".NET Core"
referencing https://github.com/mausch/Fuchu/pull/51

There is still some work ahead, mainly with `Expecto.Tests`. NUnit has .NET Core as a platform target now. FsCheck seems to be pending support (https://github.com/fscheck/FsCheck/pull/293).

PerfUtil and MbUnit seem to be the main issues right now as none of them seem to be actively maintained anymore. @mausch mentioned possibly dropping support

[2016-10-22 13:52] haf commented on #1
I've dropped support for the other test frameworks in this test framework. I want a framework that's good for F#.

[2016-11-01 19:37] MichaelBaker commented on #1
It sounds like this should work with Core, but when I add a dependency on `"Expecto": "1.0.12"
` to my project, I get these errors:

[code]

Then when I add `"imports": ["net40" ]` to my project, it fails to compile with a lot of errors like: `The type referenced through 'System.String' is defined in an assembly that is not referenced. You must add a reference to assembly 'mscorlib'.`

So then I a

[2016-11-01 20:17] OverlyExcessive commented on #1
@MichaelBaker AFAIK there are a few things that need to be ported for Expecto to be fully .NET Core compatible.

For example FsCheck is still awaiting .NET Core support, pending https://github.com/fscheck/FsCheck/pull/293.

Also like I mentioned earlier PerfUtil is dead and does not have .NET Core support, although @haf mentioned that support for PerfUtil could be dropped. Anyhow, the core project

[2016-11-01 20:40] haf commented on #1
What should be used instead of PerfUtil?

[2016-11-01 22:32] haf commented on #1
I switched the code over to using BenchmarkDotNet instead of PerfUtil.

Released v1.1 with this.

[2016-11-08 13:48] haf opened #2 "Support async tests"
Schedule all Job/Alt/Async/Task thingies and await their completions from e.g. `Expecto.Hopac`. This would probably require a 2-stage process with the first discovering the test and the second doing an execute-and-fan-in/join operation.

 1. Support non-monadic parallelism
 2. Support async/task/job etc
 3. Support limiting concurrency via configuration flag.

[2016-11-16 09:54] haf opened #3 "String diff support"
Make output like this easier to parse for humans, by showing at what position the strings differ:

[code]

[2016-12-01 23:58] cloudRoutine opened #5 "Expecto.Scientist? Expecto.Hypothesis?"
I'm not especially familiar with either of these test frameworks, but they seem to have some interesting ideas. Maybe some of them could be extracted for Expecto?

https://github.com/github/Scientist.net

https://hypothesis.readthedocs.io/en/latest/

[2016-12-02 00:27] cloudRoutine commented on #3
I've always found FParsec's  error messages particularly satisfying
[code]
so maybe something like

[code]

[2016-12-03 02:40] cloudRoutine opened #6 "[Feature Request] Surface Area/Semantic Versioning Testing"
It'd be nice to have a way to make sure that updates to a project aren't breaking semantic versioning rules. This could be validated by storing the metadata for a project's public API and checking against it. Maybe it could run in an analytic mode just to tell you what the version upgrade should be based on the current state of the assembly vs the stored metadata?

The offending changes, or just t

[2016-12-03 20:04] haf commented on #6
Sounds like a great feature!

[2016-12-03 20:05] haf commented on #5
What does it add on top of FsCheck?

[2016-12-05 00:09] cloudRoutine commented on #5
Something akin to [the hypothesis example database](https://hypothesis.readthedocs.io/en/latest/database.html) seems like it could be useful in concert with FsCheck where complicated and expensive generators or extremely large numbers of tests need to be run.

FsCheck doesn't really have the plugs and connectors to make it great OOB for integration testing, end-to-end testing, critical path testin

[2016-12-05 20:52] MecuSorin opened #7 "Add development features"
Add some development features:

- an easy way to enable/disable some tests or test cases by either marking them with **pending**
[code]
 - an easy way to **focus**(check just some tests or test cases and ignore the rest of the test suite) on development task at hand
[code]
The statistics should keep track of the disabled tests (marked with Pending or excluded by some Focused tests)

[2016-12-05 21:57] haf commented on #7
Sure, but can't it be done as a union case for `Tests` also? After all, we're focusing on tests as values here.

[2016-12-05 22:42] MecuSorin commented on #7
Actually I was looking at the code, on how to implement it and the cleanest way in my opinion is to augument all three variants of the union with a state something like:
[code]

[2016-12-06 07:16] haf commented on #7
Looks like a good choice.

[2016-12-06 09:51] MecuSorin commented on #7
Ok. I will implement it like that then.

[2016-12-06 11:36] haf commented on #7
Btw, I think we should call it `Focus` rather than `TestState`, since test state is a thing of its own. Perhaps `Normal` focus rather than `Run` focus, too.

[2016-12-06 21:56] cloudRoutine opened #8 "Expecto Gitter?"
I know at least @adamchester and @b0urb4k1 have expressed interest in helping develop expecto further, a gitter channel would help coalesce the disparate conversations we've been having across slack, dm and other gitter channels.

[2016-12-06 21:57] adamchester commented on #8
👍

[2016-12-07 20:00] cloudRoutine commented on #8
https://gitter.im/haf-expecto

[2016-12-07 20:00] #8 closed

[2016-12-07 21:46] #7 closed

[2016-12-07 21:57] MecuSorin opened #10 "Test the FTestAttribute behavior"
We should test the FTestAttribute behavior:
- discovery(by reflection) of tests marked with this attribute
- propagation of the FocusedState to the child tests
- Expecto skipping other tests that are Normal

Note: This flag tests can influence the behavior of other tests based on reflection discovery.

[2016-12-12 13:53] fbehrens opened #15 "implement unquote Support"
I used `unquote` for assertions. It supports `Fuchu`  but after i migrated to here, the support if gone.
see https://github.com/SwensenSoftware/unquote/issues/127
I will check if I will be able, but right now i am a little overwhelmed

[2016-12-12 14:51] vilinski opened #16 "FakeHelper"
Hi, great and simple testing library.
Currently I have make-it-done-solution like above. But may be is there any FAKEHelper which I have overlooked?

[code]

[2016-12-12 15:49] forki commented on #16
I think this should be opened in FAKE repo. And maybe you are interested in contributing such a helper over there.

[2016-12-13 10:10] vilinski commented on #16
my PR https://github.com/fsharp/FAKE/pull/1435

[2016-12-13 19:25] fbehrens opened #21 "first LogLevel is remembered in IRB session"
Hi, I often run my tests in `irb` like this:
[code]
When I change the `LogLevel` to `Info` on subsequent runs, this will not reflect in the output (still `[dbg]` is logged, LogLevel of first run is remembered).

I wondered about this behaviour, which seems to be so Non-functional.

Is this intended, or why is that ?

PS Please do not bother, I am a newbie, but eager to understand.

[2016-12-13 19:37] haf commented on #21
Hi there

It's because of [this line](https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L742) that only sets the configuration once. Its intention is that by default you get the literate console logger. But if you, from outside the library, override the logging, you'll get that overridden behaviour rather than that of the configuration structure passed to `runTests`.

Otherwise, an ext

[2016-12-13 19:37] #21 closed

[2016-12-17 13:18] forki commented on #16
this is released in FAKE 4.47, but I noticed a glitch in timing report:

![image](https://cloud.githubusercontent.com/assets/57396/21287056/b1109f3e-c463-11e6-8ef4-8669c60c8b2c.png)

[2016-12-18 13:23] haf commented on #16
There's a console semaphore you'll have to take a lock on unless you want intertwined outputs. I don't know the char that's printed in a funky manner before `1 passed`.

[2016-12-18 14:23] forki opened #22 "exception crashes tests"
I have a exception in my test project (see https://github.com/fsprojects/Canopy.Mobile/blob/master/tests/Canopy.Mobile.Tests/Tests.fs#L51)

and this crashes the whole test project.

![image](https://cloud.githubusercontent.com/assets/57396/21294089/d876cdd2-c535-11e6-91c8-c13e214c9fb1.png)

![image](https://cloud.githubusercontent.com/assets/57396/21294086/a5031992-c535-11e6-9cfb-ca70bb1fb76c.png)

[2016-12-18 16:16] haf commented on #22
I'm not sure why it would crash the process. Each test is run like [this](https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L434-L441) and obviously I've had tests throwing exceptions myself. Do you have a stack trace? Can you break on exception in VS and create a dump? Could you write a unit test?

[2016-12-18 16:22] forki commented on #22
I think it crashes in the entry point code. Stack trace is in the screen
shot

Am 18.12.2016 17:16 schrieb "Henrik Feldt" <notifications@github.com>:

[2016-12-18 16:24] haf commented on #22
Well, if it crashes outside of expecto there's nothing this library can do.

[2016-12-18 16:32] forki commented on #22
Yes I do understand that: I was wondering what the best way is to do startup and teardown stuff.

[2016-12-18 16:41] haf commented on #22
[code]
?

[2016-12-18 16:42] forki commented on #22
ok. thought you might have different plans for that. so that reporting and stuff works ;-)

[2016-12-18 16:42] #22 closed

[2016-12-18 16:44] haf commented on #22
For me, exceptions are always an edge-case; if you program with them, you'll ultimately end up sinking a lot of time into working around them... ;)

[2016-12-18 16:54] forki commented on #22
that stuff is coming from the selenium/appium layer. It's not like I want them to throw.

[2016-12-18 16:57] haf commented on #22
I know. :)

[2016-12-18 17:00] forki commented on #22
Also I wonder if test lists could contain setup and teardown code?

Am 18.12.2016 17:57 schrieb "Henrik Feldt" <notifications@github.com>:

[2016-12-18 17:33] haf commented on #22
It's possible. You could do some sketches of it and we can discuss. Another way is to use hole-in-the-middle factory functions like we do in the suave tests.

[2016-12-18 17:36] forki commented on #22
Holes sounds awesome. Go for it ;-)

Am 18.12.2016 18:33 schrieb "Henrik Feldt" <notifications@github.com>:

It's possible. You could do some sketches of it and we can discuss. Another
way is to use hole-in-the-middle factory functions like we do in the suave
tests.

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub
<https://github.

[2016-12-18 19:09] isaacabraham opened #23 "runTests returns 0 when a test fails"
Just tried my first expecto hello world: -

[code]

However, whilst the output shows a test failure, the program returns 0 when (AFAIK) it should return 1 because of the test failure.

[2016-12-18 19:17] isaacabraham opened #24 "Incorrect summary details for test run"
I'm running a test group: -

[code]
[code]

* The output shows that 1 test passed (correct) but incorrectly shows that 0 tests failed.
* The output shows that only 1 test was run, when 2 tests were run.

[2016-12-18 19:19] Krzysztof-Cieslak commented on #24
Hmmm... are you using `2.1.0` ? It may be something I introduced when I was refactoring summary in #19

[2016-12-18 19:39] isaacabraham commented on #24
Yeah, just got the latest version off nuget minutes before posting this.

[2016-12-18 20:31] haf commented on #24
Validated – this is a major bug that got introduced – v2.1.0 has been pulled while @Krzysztof-Cieslak has a look.

[2016-12-18 21:29] AnthonyLloyd opened #26 "Relative statistical performance testing"
I'm up for putting together a PR to add a function `isFasterThan f1 f2` along the lines of my perf blog [post](http://anthonylloyd.github.io/blog/2016/05/20/performance-testing).

One issue I can see is it would be best if these test cases run sequentially but should not stop the others from running in parallel. Maybe these could be run at the end of the run.

I also don't know if therefore the fu

[2016-12-18 21:38] haf commented on #26
I envision that it's possible to tag test cases; different runner concerns can then inspect these tags and choose how to execute.

In this case, we'd like to tag a test case with 'performance' which would have a concern in the main library that serialises running of such test cases.

This should go towards a runner that can also support `Job<'a>` and `Async<'a>` in the future.

If the running of t

[2016-12-19 05:36] haf commented on #24
@Krzysztof-Cieslak Will you have a look at this today?

[2016-12-19 08:29] isaacabraham commented on #24
@haf IMHO this is way less important than #23 - that one will screw up e.g. CI builds that are checking the return type.

[2016-12-19 08:48] Krzysztof-Cieslak commented on #24
@haf, Yes will take a look at it today afternoon.

[2016-12-19 09:14] haf commented on #24
Yes, #23 is why I unpublished the 2.1 nuget.

[2016-12-19 10:03] AnthonyLloyd commented on #26
I'll do the PR in the next week or so to put it in best I can see at the moment.

Feel free to change it around as best suits.

[2016-12-19 13:07] forki commented on #3
![image](https://cloud.githubusercontent.com/assets/57396/21313840/5fb130c6-c5f4-11e6-91f9-fdf3ebd1018e.png)

it should at least report both strings - not only first char

[2016-12-19 13:51] forki opened #28 ""focused" feature should be ignored in CI"
Do we already have a cmd line switch for that so that FAKE runner can set it? /cc @vilinski

[2016-12-19 15:36] Krzysztof-Cieslak commented on #3
I guess we could display both strings, and then report 1st (all?) position on which they differ.

[2016-12-19 15:42] forki commented on #3
yes please display at least the actual value. the expected vaue I can find in the code, but the actual value is definetly only in the app

[2016-12-19 20:09] haf commented on #24
I believe this is fixed with v2.1.1. Closing.

[2016-12-19 20:09] #24 closed

[2016-12-19 20:11] haf commented on #23
Fixed with #29, closing.

[2016-12-19 20:11] #23 closed

[2016-12-19 20:13] haf commented on #2
Stub issue for #26

[2016-12-19 20:13] haf commented on #10
Is this an improvement request?

[2016-12-19 20:16] haf commented on #1
Bookkeeping: https://github.com/haf/expecto/pull/4 fixed this issue, but the build is blocked on https://github.com/Albacore/albacore/issues/221.

[2016-12-19 21:00] AnthonyLloyd commented on #26
Sorry a bit of a false start. I'm trying to build and run existing tests from VS or command line on windows. Both give me the following. What am I doing wrong?

Unhandled Exception: System.IO.FileLoadException: Could not load file or assembly 'FSharp.Core, Version=4.3.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.
 The located assembly's manifest definition does

[2016-12-19 21:10] haf commented on #26
My guess would be that you need a F# core redirect.

[2016-12-19 21:21] Krzysztof-Cieslak commented on #26
Can confirm that on Windows I also need binding redirects to run `Expecto.Tests`

[2016-12-19 21:28] haf commented on #26
We should add redirects to the repo then.

[2016-12-19 21:32] Krzysztof-Cieslak commented on #26
I;m pretty sure we can make Paket to generate them automatically... but only @forki knows how ;)

[2016-12-19 21:32] AnthonyLloyd commented on #26
Yes that did it. Thanks. Will include in the PR if you want it that way.

[2016-12-20 07:05] wallymathieu commented on #6
There is a project that aims to get the major, minor and patch version difference based on surface area:
https://github.com/fsprojects/SyntacticVersioning
In order to pool the effort previously done in:
https://github.com/wallymathieu/SemVer.FromAssembly
and in:
https://github.com/spisemisu/SpiseMisu.SemanticVersioning

[2016-12-20 10:52] cloudRoutine commented on #6
Yea there was an [F# Advent 2016 article on it too](http://blog.stermon.com/articles/2016/12/01/semantic-versioning-dotnet-libs-and-nuget-pkgs)

[2016-12-20 21:25] MecuSorin commented on #10
It's a gap in the tests - just a sanity check. Didn't know how to create a meaningful automated test without creating a new project. By symmetry with PTestAttribute should work  - from discovery point of view - if all pending tests are working; propagation is tested.

[2016-12-21 16:28] forki opened #31 "Flaky mode"
The flaky gem has a number of run modes:
      all tests - run everything
      from file - run a set of tests as specified in a text file
      one test - run only one test
      two pass - run tests once, then run only the failures x amount of times.

from https://appium.io/slate/en/tutorial/android.html#introduction36

I'm in the process of writing https://github.com/fsprojects/Canopy.Mobile an

[2016-12-21 16:38] forki opened #32 "Setup and teardown"
SF: Also I wonder if test lists could contain setup and teardown code?

    @haf: It's possible. You could do some sketches of it and we can discuss. Another way is to use hole-in-the-middle factory functions like we do in the suave tests.

    SF: Holes sounds awesome. Go for it ;-)

I just thought about a different way:

[code]

How about providing "combinators" that inject setup and teardown.

[2016-12-21 16:56] forki commented on #32
I think flaky mode could be done like this as well: https://github.com/haf/expecto/issues/31

[2016-12-21 16:57] lefthandedgoat commented on #31
Not 100% sure how it is for mobile, but 9 out of 10 times a 'flaky' test in web is actually a bug in the website.  canopy/Canopy.Mobile will have stability built in to it for common stuff, like a control is not in the DOM/App yet, but is within a reasonable amount of time.

Example of root cause of a flaky test:

Test fails only occasionally, can't reproduce manually.
There are 2 web service calls

[2016-12-21 16:59] forki commented on #31
I don't even get the https://github.com/fsprojects/Canopy.Mobile/blob/master/tests/Canopy.Mobile.Tests/SampleTests.fs suite rreliable. Just reduce timeout at https://github.com/fsprojects/Canopy.Mobile/blob/master/src/Canopy.Mobile/Canopy.Mobile.fs#L130 or use slower emulator.

[2016-12-21 17:00] lefthandedgoat commented on #31
I will help you =)  It takes a butt load of time but its worth it in my opinion.  Your tests need to be trust worthy otherwise people will just blame them and they will be worthless.

[2016-12-21 17:03] #31 closed

[2016-12-21 17:03] forki commented on #31
ok let's to solve it the right way

[2016-12-21 17:03] lefthandedgoat commented on #31
After looking at the sleep you added its probably because you are clicking a button that causes a screen transition (don't have it working locally).

The right way to handle this is to put an assertion after the click, in your test, asserting that some element on that screen is shown.  That way you know that the screen has transitioned properly.

[2016-12-21 17:11] forki commented on #31
Yeah probably. That's why we need you ;-)

Am 21.12.2016 6:03 nachm. schrieb "Chris Holt" <notifications@github.com>:

After looking at the sleep you added its probably because you are clicking
a button that causes a screen transition (don't have it working locally).

The right way to handle this is to put an assertion after the click, in
your test, asserting that some element on that screen is sh

[2016-12-22 16:58] vilinski commented on #28
is it a good idea to add CustomArg for new arguments? https://github.com/fsharp/FAKE/pull/1439

[2016-12-22 17:05] MNie commented on #3
Hi,

something like that is ok?
![image](https://cloud.githubusercontent.com/assets/7689103/21433461/2e6d6bb4-c870-11e6-8e64-15968683c785.png)

[2016-12-22 17:36] Krzysztof-Cieslak commented on #3
I wouldn't use `[` and `]` since it's not used anywhere else.

But otherwise, looks good to me.

[2016-12-22 18:03] mausch commented on #32
So @forki asked me to comment on this.

I don't know exactly how much Expecto diverges from Fuchu but if the models are similar then the snippet above with the pipes won't generally work, because you'll want to reference values created in the Setup in your tests, instead of running Setup only for its side effects.
Similarly, you'll want to access values created in Setup in Teardown e.g. to dispose

[2016-12-22 18:09] forki commented on #28
Yes we definitely need customargs

Am 22.12.2016 5:58 nachm. schrieb "Andreas Vilinski" <
notifications@github.com>:

[2016-12-22 21:51] haf commented on #32
"f" is the "hole in the middle" in your example.

[2016-12-23 21:31] #3 closed

[2016-12-24 11:19] AnthonyLloyd commented on #2
Willing to help. Do you have more idea of how you want this to work in terms of API.

[2016-12-25 15:46] haf commented on #2
The tests are run either by enumerating a parallel or a sequenced sequence, which comes down to the `map` function passed in to the anonymous functions that `evalTestList` returns.

I created a scaffolding for you to work in; and refactored a bit of the control flow to make it easier for you to implement the basic lock feature.

We'll have to further consider the plugin infrastructure for monads,

[2016-12-25 20:35] haf opened #36 "Don't print 'started' for ignored tests"

[2016-12-25 20:38] #36 closed

[2016-12-25 21:16] haf opened #37 "`containsAll` PRed with bug"
`actual` is the sequence containing things. `expected` is the subset we expect.

//cc @MNie

[2016-12-25 23:38] #37 closed

[2016-12-27 11:18] theimowski opened #39 "TeamCity reporting"
Add ability (command line option?) to format the output so that [TeamCity can understand it](https://confluence.jetbrains.com/display/TCD10/Build+Script+Interaction+with+TeamCity#BuildScriptInteractionwithTeamCity-Supportedtestservicemessages).

[Here](https://github.com/xunit/xunit/blob/master/src/xunit.runner.reporters/TeamCityReporterMessageHandler.cs)'s how xUnit does it.

I'm willing to contr

[2016-12-27 11:30] Krzysztof-Cieslak commented on #39
Adding it should be easy:

Step 1. Create custom printer - https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L320-L424
Step 2. Create flag turning it on - https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L823

[2016-12-27 11:42] adamchester commented on #39
@theimowski you may also need to use a [different configuration](https://github.com/haf/expecto/blob/fcca2aa8fa94ff84f0770b46f28fbee12729aa60/Expecto/Expecto.fs#L849) for the [Logary Facade](https://github.com/logary/logary/blob/master/src/Logary.Facade/Facade.fs). Perhaps the [`TextWriterTarget`](https://github.com/logary/logary/blob/66b76e5e4c552e61c356fb3d935d714778b872bb/src/Logary.Facade/Faca

[2016-12-27 12:04] haf commented on #39
@adamchester I think TC just collapses colourisation though, so we probably don't need another config?

[2016-12-27 12:13] adamchester commented on #39
@haf I'm guessing a problem might be the [hard-coded line prefix](https://github.com/logary/logary/blob/master/src/Logary.Facade/Facade.fs#L623)

[2016-12-27 12:22] haf commented on #39
@adamchester True that. Delegator pattern could work though.

[2016-12-27 14:02] theimowski commented on #39
@haf not sure I get the delegator idea - what would we delegate to?
TC expects following entry: `##teamcity[testFinished name='testName' duration='<test_duration_in_milliseconds>']`

[2016-12-27 14:45] haf commented on #39
@theimowski The existing result printer. Wrapping it in one that simply takes the console lock from `Expecto.Logging.Globals.consoleSemaphore` and prints the above.

[2016-12-28 11:09] forki opened #41 "Weird summary in expecto 2.3"
![image](https://cloud.githubusercontent.com/assets/57396/21520652/3f7cb66e-ccf6-11e6-965c-0fb9f427d23b.png)

/cc @Krzysztof-Cieslak

[2016-12-28 11:09] forki opened #42 "Print version flag: `--version`"
Would be nice to have the expecto version print into first line on startup

[2016-12-28 11:11] Krzysztof-Cieslak commented on #41
Git blame tells me it was @haf, not me ;P https://github.com/haf/expecto/blame/master/Expecto/Expecto.fs#L404-L408

[2016-12-28 11:14] forki commented on #41
ok even if my command line would show proper unicode, I would have real trouble understanding that spirit. I know it's less fun, but can we change it to a red / green english word?

[2016-12-28 11:15] haf commented on #41
You need a terminal capable of UTF8. It's soon 2017 after all ;) ┳━┳ ヽ༼ಠل͜ಠ༽ﾉ

[2016-12-28 11:16] haf commented on #41
@forki There's no 'use' for the spirit; the preceding stats tell the whole story.

[2016-12-28 11:17] haf commented on #42
Should it print anything but its core output? I like the unix philosophy. Can we not just add a --version flag so that build scripts which want the version can call it?

[2016-12-28 11:17] forki commented on #41
Ok. I don't want to play party pooper. But can we remove it?

[2016-12-28 11:18] forki commented on #42
Version flag is fine.

[2016-12-28 11:18] haf commented on #41
Why?

[2016-12-28 11:18] haf commented on #42
+1 then

[2016-12-28 11:29] haf commented on #41
Can't we just make a config option to turn them off?

[2016-12-28 11:31] forki commented on #41
I'm trying to introduce expecto into the business side. Such features are
not really making my life easier. I will send a Pull request with a
proposal for replacement

Am 28.12.2016 12:29 schrieb "Henrik Feldt" <notifications@github.com>:

Can't we just make a config option to turn them off?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<http

[2016-12-28 11:33] Krzysztof-Cieslak commented on #41
I'd vote for turning it off by default. adding flag if someone wants them.

[2016-12-28 11:59] forki commented on #41
that's the one you get by running from VS with ctrl+F5

[2016-12-28 12:02] Krzysztof-Cieslak commented on #41
You can change it to powershell, as far as I remember ;)

[2016-12-28 15:45] AnthonyLloyd commented on #26
#34

[2016-12-28 22:07] #41 closed

[2016-12-28 22:07] #32 closed

[2016-12-28 22:08] haf commented on #32
Closing because I feel the question has been answered.

[2016-12-29 09:18] forki commented on #41
yes I think this will do. thanks

[2016-12-29 11:56] forki opened #44 "Print current test"
I have a testsuite that runs for a while. it would be nice if expecto would print status of every test after it is run

[2016-12-29 13:04] haf commented on #44
`--debug` gives you that.

[2016-12-29 13:04] #44 closed

[2016-12-29 13:12] forki commented on #44
that is a bit weird. usually this should be the default since we need to know if things are still running. even on CI server the progress is important.

[2016-12-29 13:19] haf commented on #44
The default for me is that I have a huge number of tests and I can't find the failing ones if they're all printed. So I think the optimal outcome is for the executable only to print a single line if everything succeeds and nothing is ignored. Any other behaviour should be opt in according to the unix principle of single-purpose processes that only output relevant information. SSH works the same wa

[2016-12-29 17:33] haf commented on #44
That said; how about a feature that prints progress?

[2016-12-29 18:31] forki commented on #44
I'm so hoping you do that ;-)

2016-12-29 18:33 GMT+01:00 Henrik Feldt <notifications@github.com>:

[2017-01-04 08:33] forki opened #48 "Public runTests function should be initialized with argu params"
In https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L879 we initialize the runTestsInAssembly config with the command line parameters that were given to expecto. We should do the same with the public runTests function. I don't see a reason why these should behave differently (apart for the fact that runTestsInAssembly calls runTests).

@haf would you accept a PR with a fix? This would

[2017-01-04 08:58] forki commented on #48
After taking a quick look I think the runTestInAssembly is doing even more stuff that should be in runTests.

[2017-01-04 09:01] forki commented on #48
Just saw runTests doesn't take in args. lol

Will submit a new function then ;-)

[2017-01-04 09:47] #28 closed

[2017-01-04 10:13] AnthonyLloyd commented on #26
Happy to look at other extensions of this at a later date.

[2017-01-04 10:13] #26 closed

[2017-01-04 10:17] #48 closed

[2017-01-04 18:22] Krzysztof-Cieslak opened #53 "`--summary` not working"
`--summary` flag is not working for me any more on latest version - this bug is reproduced in latest builds on Travis.  Last build which is displaying summary is https://travis-ci.org/haf/expecto/jobs/188807194 (for 6fd15ac33d1cb5d42e766d613e710e7bc53de91c), next one is not displaying summary any more (https://travis-ci.org/haf/expecto/jobs/188808798).... But it doesn't make any sense for me since

[2017-01-04 18:47] haf commented on #53
It's because someone at some point the last couple of days PRed `Async.Start` into the code. I saw it but, hey, this is a unit-testing lib, so if bugs come in, then they should be unit-tested away by even more PRs ;)

[2017-01-04 18:53] Krzysztof-Cieslak commented on #53
CC: @AnthonyLloyd  ;)

[2017-01-04 18:55] haf commented on #53
We can just make it `RunSynchronously` for now, until #2 is done.

[2017-01-04 19:19] Krzysztof-Cieslak commented on #53
I'll change it in #47

[2017-01-04 19:27] Krzysztof-Cieslak commented on #53
Or not, either I'm going crazy or changing it to `RunSynchronously` doesn't fix the problem

[2017-01-05 08:34] forki commented on #16
fake helper is released. this can be closed

[2017-01-05 09:16] #16 closed

[2017-01-05 09:21] haf commented on #15
This has been merged.

[2017-01-05 09:21] #15 closed

[2017-01-05 09:22] haf commented on #6
Could you amend the issue with a suggestion on how to do it? We'd need an abstraction for storing data across tests and DotNetBenchmark's results folder should probably go inside that abstraction as well.

[2017-01-05 09:38] #42 closed

[2017-01-05 12:35] AnthonyLloyd commented on #53
Maybe I should take a look...

Will do tonight if not fixed by then.

[2017-01-05 16:00] #53 closed

[2017-01-05 16:10] haf opened #57 "Fix async printing"
Remove the code that is both imperative and parallel and concurrent at the same time – what can go wrong!

[2017-01-06 11:48] forki opened #61 "Expecto doesn't have a version"
![image](https://cloud.githubusercontent.com/assets/57396/21716982/55e62a88-d40e-11e6-8eca-95cdcdfa7568.png)

// @haf I assume you rake build script doesn't set the product version into the expecto.dll

[2017-01-06 11:49] forki commented on #61
![image](https://cloud.githubusercontent.com/assets/57396/21717007/7fedc32c-d40e-11e6-96eb-61a6ebbfb792.png)

[2017-01-06 11:54] #61 closed

[2017-01-06 11:54] haf commented on #61
The Rakefile sets a version, yes. I just hadn't included the generated file before now.

[2017-01-06 11:55] forki commented on #61
cool thx!

[2017-01-07 06:37] rmunn opened #62 "Add isOk and isError expectations"
Similar to `isChoice1Of2` and `isChoice2Of2`, it would be nice to have expectations that test for the two "branches" of the [`Result` type](https://github.com/fsharp/fslang-design/issues/49).

[2017-01-07 14:46] rmunn commented on #62
Would something like this be enough?

[code]

If that's enough, I can turn that into a PR pretty easily. If you want more (unit tests, more detailed docs, sample code, etc.), then I'll have to wait a few days before I can easily add those to the PR. (Especially the unit tests: the computer I'm using right now doesn't have .Net Core installed yet, so I can't run Expecto's entire build on it -- but

[2017-01-07 16:35] Krzysztof-Cieslak opened #63 "Change distribution error message"
I don't think distribution error should display those part of message which are not not showing actual error for the case (so for example don't display `Missing elements from actual:` + empty line if there are no missing elements).

CC: @haf and @MNie

[2017-01-07 17:29] MNie commented on #63
@Krzysztof-Cieslak  I agree, also the same with continsAll? If there are not any elements it shouldn't display:
`missing/extra elements from/in 'actual'`
`{}`
?

[2017-01-08 17:51] #63 closed

[2017-01-09 14:13] haf opened #66 "Could not find .pdb file"
@Krzysztof-Cieslak I think we have another bug from your changes. Could you have a look at it, please?

[code]

Via https://ci.appveyor.com/project/haf/logary/build/4.0.545

See

[2017-01-09 14:26] haf commented on #57
Done

[2017-01-09 14:26] #57 closed

[2017-01-09 14:30] haf opened #68 "FsCheck prints to stdout – make it print to `Logger`"
Our [FsCheck.fs](https://github.com/haf/expecto/blob/master/Expecto.FsCheck/FsCheck.fs) uses the `Config.Default.Runner` on [line 39](https://github.com/haf/expecto/blob/master/Expecto.FsCheck/FsCheck.fs#L39-L41).

Change the FsCheck integration to use a few tricks from the [XUnit integration](https://github.com/fscheck/FsCheck/blob/master/src/FsCheck.Xunit/PropertyAttribute.fs) in the FsCheck rep

[2017-01-09 14:45] haf opened #69 "Parametised test suites"
- Support globally parametising, e.g. a `TcpStreamFactory`
 - Support globally having a lock server, that given a category, returns an object that can be locked on, to ensure the critical region only is executed from one thread in the test suite
 - Support having a port generator, to fix issues like https://github.com/SuaveIO/suave/issues/341 but for testing, to avoid having to run [Suave's test s

[2017-01-09 15:08] #66 closed

[2017-01-09 15:31] Krzysztof-Cieslak commented on #69
Uhh....

This can be handled by `testFixture` or `testParam` (https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L979-L986)

Or I don't understand something?

[2017-01-09 15:42] haf commented on #69
Haha, nice catch. That's not documented though.

[2017-01-09 18:04] kurtschelfthout commented on #68
Yes, I think this is the way to go.

[2017-01-10 08:13] #2 closed

[2017-01-10 19:41] sergey-tihon opened #72 "Expecto logo"
Would love to hear opinions from fans
// @haf @forki @Krzysztof-Cieslak @MNie @AnthonyLloyd @cloudRoutine @adamchester

![image](https://cloud.githubusercontent.com/assets/1197905/21821768/c965d092-d785-11e6-8564-5e8fa2bc38a5.png)
![image](https://cloud.githubusercontent.com/assets/1197905/21821640/647a24c6-d785-11e6-9f3c-1cb8ead57422.png)

[2017-01-10 20:54] Krzysztof-Cieslak commented on #72
:+100:

[2017-01-10 20:56] forki commented on #72
:kiss:

[2017-01-10 21:15] adamchester commented on #72
❤️

[2017-01-10 21:20] haf commented on #72
Hey @forki, surely this is not enterprise enough for you?

[2017-01-10 21:24] forki commented on #72
@haf the issue with the moot summary is that it looks weird. Even on modern console output. Nobody in the room saw the smiley. It just was weird.

[2017-01-10 21:25] haf commented on #72
;)

[2017-01-10 21:28] forki commented on #72
But that's OK. We iterate on things. We should also iterate on jokes

[2017-01-10 21:55] AnthonyLloyd commented on #72
👍

I just see a series of boxes in powershell

[2017-01-10 22:51] haf opened #74 "BenchmarkDotNet broke its release"
https://github.com/dotnet/BenchmarkDotNet/issues/343

[2017-01-10 22:52] #74 closed

[2017-01-10 22:59] haf commented on #72
@forki I'm worse myself; I've been an enterprise dev for 10+ years now and there's no end in sight. Enterprise is good money so I don't mind. Btw, we should definitely have a beer sometime, when are you coming to Stockholm next? :)

@sergey-tihon Concretely, I think the logo is too warm in its colours, with both brown and orange being reds. Also, do we want more Harry?

In any case, we don't have

[2017-01-10 23:14] Krzysztof-Cieslak commented on #72
Could I join? ;]

[2017-01-10 23:16] haf commented on #72
Yes why don't you all in this thread come to Stockholm for a few days and let me show you around? And for great conversation.

[2017-01-11 08:53] AnthonyLloyd commented on #72
I'll be in Stockholm in the summer en famille for our hols.

[2017-01-11 10:05] sergey-tihon commented on #72
@haf what about scarf and cold colors?
![image](https://cloud.githubusercontent.com/assets/1197905/21844119/7fae5c48-d7fe-11e6-9265-960b64ad42e6.png)

[2017-01-11 10:08] haf commented on #72
@sergey-tihon When in doubt, use pastels. I do like the scarf =)

@AnthonyLloyd What dates?

[2017-01-11 10:50] AnthonyLloyd commented on #72
Stockholm Mon 31st Jul-Wed 2nd Aug, Visby before, Malexander & Tyfta after.

[2017-01-11 12:12] sergey-tihon commented on #72
@haf Updated colors
![image](https://cloud.githubusercontent.com/assets/1197905/21848069/1f2ff27a-d810-11e6-8136-3bc22b6cfbdd.png)

[2017-01-11 20:49] #39 closed

[2017-01-12 10:23] haf commented on #72
Something more pastel, like
![1f2ff27a-d810-11e6-8136-3bc22b6cfbdd copy](https://cloud.githubusercontent.com/assets/193115/21885791/8b5aa086-d8b9-11e6-8d00-1beb3dd583de.png)
 perhaps?

[2017-01-13 09:06] AnthonyLloyd opened #79 "Stress testing"
I'd like to propose a feature I'm interested in building and would welcome any feedback or suggestions.

It would be to add a command line switch like: --stress 02:00:00

This would run the parallel tests for 2 hours at full worker load adding a randomly picked test when a test finishes. FsCheck will need a bit of consideration as I think their `MaxTest` and `size` will need to be randomly picked.

[2017-01-14 14:36] haf commented on #69
@Krzysztof-Cieslak Ok, so I dived into this a little further (by documenting the above). What I was intending was what Suave does; allowing the test suite (or a range of tests) to be varied by param effectively. Similar to how Suave's tests are run:

<img width="555" alt="screen shot 2017-01-14 at 15 36 40" src="https://cloud.githubusercontent.com/assets/193115/21955619/42811b12-da6f-11e6-8821-9f6

[2017-01-14 15:15] #72 closed

[2017-01-14 15:44] haf opened #81 "Fuzz testing"
I'd like expecto to support parametisation for three things:

 - [system properties][readme-fscheck]
 - [configuration][issues-parametisation] – like specifying a variable that all tests taking an instance of that type are parametised over (combinatorially combined)
 - system fuzzing for safety – no crashes and no hangs – this issue

Preferably this issue can start the implementation of the F# ver

[2017-01-14 15:49] haf commented on #79
Agreed; it should be the time to spend that makes the test framework choose how to test, rather than the execution taking arbitrarily long causing developers to push down the number of tests run in order to get a fast feedback cycle.

I've also created https://github.com/haf/expecto/issues/81 which is directly relevant to this issue, because both property tests and interleaving of execution needs

[2017-01-14 23:46] AnthonyLloyd commented on #81
This looks very interesting. At this point I have no experience of it but will definitely read up.

[2017-01-15 04:05] CraigStuntz commented on #81
So, as it happens, I just gave a CodeMash presentation on this topic. Yesterday, in fact. Here are the slides, [with](https://speakerdeck.com/craigstuntz/mashing-up-qa-and-security-codemash-2017-with-notes) and [without speaker notes](https://speakerdeck.com/craigstuntz/mashing-up-qa-and-security-codemash-2017).

There's a lot to unpack in this issue. Certainly, "Use Fizil/AFL in Expecto" is proba

[2017-01-16 11:55] #68 closed

[2017-01-17 15:47] alfonsogarciacaro opened #83 "Tests hanging if config.``parallel`` = false"
After updating Expecto from 1.1.2 to 3.1.0, when running the tests, the program just hangs and no breakpoint into any test gets hit. Apparently the problem is we're disabling the `parallel` flag in the configuration (note this worked in the old version):

[code]

The problem goes away when just using the default config and using `testSequenced` for the tests we want to run in sequence. Note: somet

[2017-01-17 16:02] forki opened #84 "Update to Expecto 3.0.2 broke our build"
Something rather important broke between 3.0.1 and 3.0.2 and that breaks our build.
Is there anything known to be breaking? BTW: 3.1 is broken for us as well.

I diffed and didn't see anything obvious - apart from that huge change in the lock file.

/cc @theimowski @haf @Krzysztof-Cieslak

[2017-01-17 16:03] forki commented on #84
we also have parallel = false.

Maybe releated to https://github.com/haf/expecto/issues/83 @alfonsogarciacaro
But 3.0 and 3.01 is definetly working for us

[2017-01-17 16:13] haf commented on #83
You mean, to run in sequence?

[2017-01-17 16:16] haf commented on #84
Hmm, my guess is that it's from these changes;

https://github.com/haf/expecto/commit/ef1d69f8bd8318e899b8cf3eb9df7aacb436257a#diff-312b950ecb6e71200586b2408ab6e821R813

If you'd do a minimal repro, I'm sure we could work through it.

/cc @AnthonyLloyd  (the commit referenced)

[2017-01-17 16:17] forki commented on #84
not even sure where to start ;-(

[2017-01-17 16:21] AnthonyLloyd commented on #84
Yes I think it is this. Its not taking account of parallel anymore.
Workaround is --parallel-workers 1.
Will submit fix today.

[2017-01-17 16:40] forki commented on #84
thank you.

[2017-01-17 16:48] alfonsogarciacaro commented on #84
I just run `paket update` yesterday. Probably it was v3.1.0 and I just made a mistake, I'll edit it. Thanks for getting into it!

[2017-01-17 16:50] alfonsogarciacaro commented on #83
Yes, sorry. I edited it and also fixed the version number. I'm closing this as it seems to be the same problem as #84, so the issue can be tracked. Please feel free to reopen if you'd rather keep this one.

[2017-01-17 16:50] #83 closed

[2017-01-17 18:03] haf commented on #84
This also explains why Qvitoo's test-suite is hanging, actually ;).

[2017-01-17 18:33] forki commented on #84
Lol. So we now have couple of canaries

[2017-01-17 20:18] AnthonyLloyd commented on #84
@haf This is ready. I put in two tests also. I couldn't reproduce the hanging though.

Can I ask for interest why you run with parallel = false?

[2017-01-17 20:39] #84 closed

[2017-01-17 20:40] haf commented on #84
@AnthonyLloyd Because I spawn both an EventStore in memory and a Suave server to test end-to-end in every unit test and tests' ports conflict. I haven't yet refactored a test to claim a port.

[2017-01-17 20:53] AnthonyLloyd commented on #81
Is there a .Net Z3 / concolic library? There is Pex but is it dead or only in VS?

[2017-01-17 21:05] haf commented on #81
I've used this before with great success https://github.com/dungpa/Z3Fs

[2017-01-18 08:01] forki commented on #84
We use it for Canopy.Mobile integration tests. That thing is clicking in an Android emulator...

[2017-01-18 08:55] AnthonyLloyd commented on #84
Cool. These could be marked as testSequenced but if its all of them parallel = false is just the same.

I'm interested because of Stress testing #79.

First off I thought the stress testing would only be done on the parallel tests ignoring the sequenced. Sequenced ones could be just run once for stats.

Now I think if parallel = false or all sequenced they should be run repeatedly.

[2017-01-20 11:58] AnthonyLloyd commented on #81
Looks very good. Don just tweeted it.

I guess its a lot of work to go from Z3 to something like CutEr? I thought Pex was this but I need to investigate more.

[2017-01-23 21:22] isaacabraham opened #87 "Run Sequenced test lists in parallel"
I have two test lists, both of which are sequenced, because the tests within them affect data that is recreated before / torn down after each test.

However, each of the two test lists work on *different* data sets and could happily run in parallel. However at the moment when I place both test lists into a top-level test list, they are run one after the other.

Is there a way to run two sequenced

[2017-01-23 23:31] AnthonyLloyd commented on #87
Sorry no that's not possible at the moment. Interesting feature though.

@haf what do you think?

[2017-01-24 08:07] haf commented on #87
I've been thinking that you should be able to pass a lock name to the `testSequenced` function, letting it have a `Map<string, obj>` in the background, which it uses to lock.

That way you could just name your sequenced sets of tests by their data set name.

[2017-01-24 12:13] AnthonyLloyd commented on #87
@isaacabraham as a workaround you can make your tests async and use the following locking (see https://fpish.net/topic/None/57147):

let lock = new SemaphoreSlim(1,1)

Around each async test:
lock.WaitAsync()
.....
lock.Release()

@haf I guess we have two types of testSequenced one with a lock name where the children need to be run sequentially and one that needs to be globally sequential like the

[2017-01-24 12:39] isaacabraham commented on #87
@AnthonyLloyd Nice - I'll try that - I could probably write a reusable function that lifts a function into async and does this. I did actually try something similar using basic ``lock()`` but it didn't seem to work.

[2017-01-24 14:11] haf commented on #87
Yes, if we can make the unit tests values (omg, we already have! ;)) then we should be able to run a [binpacking algo](http://www.fssnip.net/hG) on them to schedule their order and parallelism – that way long sequences start early.

I agree that we probably need a lock server that's async rather than an actual lock.

[2017-01-25 09:00] AnthonyLloyd commented on #87
Happy to pick this up after I've finished stress testing in the next couple of days.

[2017-02-04 22:52] adamchester opened #89 "Make `Expect.sequenceEqual` failure output easier to inspect"
[`Expect.sequenceEqual`](https://github.com/haf/expecto/blob/0d6a5e3ce59e8b8f67162c569f3b7823530ec7c0/Expecto/Expect.fs#L325) should make it easier see the data from both sequences.

Currently I see this:
[code]

I propose something like this instead, where each item the sequence is numbered and starting on a new line:
[code]

[2017-02-06 14:21] haf commented on #89
Fixed with #90

[2017-02-06 14:21] #89 closed

[2017-02-06 15:23] #87 closed

[2017-02-06 16:31] agross opened #91 "Newbie questions"
Hi @haf,

Many thanks for creating Expecto! I'm just starting my first spare-time project with F# an decided to give it a try. I have to admit I'm still very much an F# noob, halfway through @isaacabraham's book.

Here are a couple of things I noticed:

1. Compiling the specs to an executable is awesome
1. As a noob I wonder why your advise on installing Expecto.BenchmarkDotNet and Expecto.FsCheck

[2017-02-06 19:13] forki commented on #91
I can answer the FAKE + focused tests part. Basically the idea was that
focused tests are used during development (usually temporary in IDE). So I
would consider it a mistake if someone commits focus flag and I want to let
the CI fail (otherwise it would only run one test and whole CI idea is
broken).

So fake sets the parameter by default and if you don't want that then you
need to opt out in the

[2017-02-07 08:32] haf commented on #91
Hello @agross and welcome to the F# world!

We're happy to have you here. To address your points:

 1. -
 2. It's not needed, only useful. I want to lower the barrier for people to write property based tests; this is one way to do it. Similarly, I think the world would be better if people relied more on statistically valid methods for testing performance, hence BenchmarkDotNet. Like you noted your

[2017-02-07 09:44] haf commented on #79
Fixed with #86

[2017-02-07 09:44] #79 closed

[2017-02-07 09:46] haf opened #92 "Float assertions"
PR this

[code]

[2017-02-07 15:13] MNie commented on #92
`if actual.Length = 0 then Tests.failtestf "%s. Should not be empty." format`

Why not:
[code]

Also what about isNotWhitespace?

[code]

CC: @haf

[2017-02-07 21:40] haf commented on #92
Mostly because with the code as I wrote it, you'll get a particular error if it's null and another one if it's empty, allowing you to take note which case it is.

Is not white space should be constructed in a similar fashion, initially asserting it's non-empty and then asserting it's not white space.

[2017-02-07 22:03] MNie commented on #92
@haf makes sense for me right now 👍

[2017-02-08 14:01] #92 closed

[2017-02-08 14:01] #91 closed

[2017-02-10 10:57] agross commented on #91
Hi guys,

Thank you for the feedback!

3. Alright, then I call `testList` a `context` from now on :)
4. [This helper](https://github.com/agross/watchr2/blob/master/source/Watchr.Specs/Helper.fs#L5) is what [I use](https://github.com/agross/watchr2/blob/master/source/Watchr.Specs/Ansi/Simple.fs#L12). Looks fluent to me.
5. Magic! I had some issues getting the VS Code runner to work, hence I always

[2017-02-11 04:02] mtnrbq opened #94 "Allow specifying the Assembly to run tests in"
I've added a new function to my fork of Expecto - runTestsInDifferentAssembly
My particular use case is where I have the tests in a F# class library, but I need to run the tests from within a c# exe.

It's meeting my need, happy to contribute a PR if you believe it'd be of general use.

[code]

[2017-02-11 10:09] haf commented on #94
I think this for next version:

Extract an `Assembly` param from https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L1541-L1542

Rename https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L1540 to `runTestsInAssembly`

Then there's your function. Then below:

[code]

Now we have both features and only one line more of code.

[2017-02-17 20:07] wallymathieu commented on #6
One way would be to contribute to
https://github.com/fsprojects/SyntacticVersioning/

I'm doing a bit of merging of the libraries. A textual representation is done by @gentauro : https://github.com/fsprojects/SyntacticVersioning/blob/master/tests/ExampleProjects/src/Fsharp2.txt

[2017-02-18 07:39] gentauro commented on #6
@cloudRoutine once I published my blog post, @wallymathieu mentioned that he had something similar (only for `.NET` assemblies but not `NuGet` packages).

This is why we agree to join efforts in combining the two libraries into one and put it under the F# Projects roof.

[2017-02-18 11:42] fbehrens opened #99 "Commandline parameters for filtering not working (for me:)"
Hi, and please bare with me if I miss something, but ...

Can't get filtering working
[code]

This is nuget 4.0.0

[2017-02-18 16:19] AnthonyLloyd commented on #99
Hi @fbehrens I can't reproduce this bug. I'm looking into it now.

[2017-02-18 16:40] forki commented on #1
what is the status with .NET core support?

[2017-02-18 17:23] AnthonyLloyd commented on #99
Hi @fbehrens, I've put in a PR fix for this.

No real workaround if you need to filter at the command line (you can focus in code though). You'll need to go back a version or wait for the release. Should be soon, my guess is within the next 24hs.

[2017-02-18 18:26] fbehrens commented on #99
Thanks.  Fine with me,  no need to hurry. Just continue the good work.
Working '--version'  flag would be nice.  It shows in the '--help'  but
doesn't work.

Anthony Lloyd <notifications@github.com> schrieb am Sa., 18. Feb. 2017,
18:23:

[2017-02-18 19:50] #99 closed

[2017-02-18 21:20] haf commented on #99
Released v4.0.1

[2017-02-18 21:21] haf commented on #1
See the comment just above yours.

[2017-02-18 22:00] adamchester commented on #1
That may have been true, but I don't think it is anymore. See #101 for example.

[2017-02-18 22:19] haf commented on #1
Well, fscheck has moved forward, so it's only the actual work on #101 and albacore/#221 to be done :) 👍 Thanks for looking into it.

[2017-02-19 09:32] fbehrens opened #102 "Naming of nuget packages"
Hi,

just get confused about results of searching  `Expecto` on  nuget:
https://www.nuget.org/packages?q=expecto i got following results.

I am getting multiple packages `Expecto Expecto`
[code]

When i look at https://www.nuget.org/packages/Expecto.BenchmarkDotNet/
it looks to me that that this is a separate module for benchmarking,
[code]

Seem like there is a display name in nuget is `Expecto E

[2017-02-19 10:05] wallymathieu commented on #1
An alternative approach in order to run the tests in .net 4.5 context (or 451 et.c.):

For instance having your code have the following frameworks:

[code]

Then the test assembly can be use ```net45```.

[2017-02-19 11:16] haf commented on #102
Yes I know. It's because NuGet.org doesn't let me push them when they are named correctly. It gives 400 Bad Request with response that the package is named too similar to another package.

It's really frustrating and I don't know how to solve it :-(

[2017-02-19 15:46] haf opened #103 "No sample for FsCheck"

[2017-02-19 15:47] haf opened #104 "Docs for FsCheck are incorrect"

[2017-02-19 15:47] haf opened #105 "`--debug` doesn't debug any longer"

[2017-02-19 15:51] #103 closed

[2017-02-19 15:51] #104 closed

[2017-02-19 15:51] #105 closed

[2017-02-19 15:59] haf commented on #94
Hi there. I'll be closing this issue tomorrow due to the lack of a PR/response.

[2017-02-20 06:59] fbehrens opened #106 "What does the --debug parameter ?"
Hi again 😄 ,

I don't really know what the `--debug` parameter is supposed to do,
but with `defaultConfig` it does nothing.

[code]

This is on version 4.0.1, even if it says
[code]

[2017-02-20 07:25] haf commented on #106
Someone's refactor of the command line args got a bit messed up; I've fixed this issue in v4.0.3 https://github.com/haf/expecto/issues/105

[2017-02-20 07:25] #106 closed

[2017-02-21 22:57] smoothdeveloper opened #107 "Order of parameters in Expecto module"
I was looking at samples https://github.com/haf/expecto/blob/master/Expecto.Sample/Expecto.Sample.fs and was wondering if there was value of making the API friendlier to piping or if the choice of order was made to discourage piping.

A simple example

[code]

It would make sense in certain cases to be able to write it that way instead:

[code]

That is passing the actual as last parameter.

That

[2017-02-22 15:36] forki opened #109 "Attributes in Readme"
The readme shows basically only samples with attributes on tests. I personally prefer to have no attributes in my test code, but I know this might vary. Anyways I think at least the very first samples should work without attributes so that we show that there is no magic involved. @haf what do you think?

[2017-02-22 15:55] haf commented on #109
Sure, we can add samples without attributes. Do you PR?

[2017-02-22 15:55] haf commented on #109
Sure, we can add samples without attributes. Do you PR?

[2017-02-22 15:59] Krzysztof-Cieslak opened #111 "Remove "framework" from readme and GitHub header"
I think we should use "library" as a way to describe expecto.

[2017-02-22 16:00] forki commented on #111
+1 - please send PR

[2017-02-22 16:01] forki commented on #109
will do.

[2017-02-22 16:04] #111 closed

[2017-02-22 20:25] #109 closed

[2017-02-22 20:41] AnthonyLloyd opened #114 "Make test CE async"
I think this is just a drop in replacement and is fully backwardly compatible since bind was never implemented.

[code]

Will mean more test default to async which is a tiny bit less overhead.

test "my test" {

}

could then just be the recommended test signature and using let! is handy if you want to async at any point.

Since this become a `Test` I can't see any issues with it.

@haf what do yo

[2017-02-23 07:19] haf commented on #114
I'd prefer not to throw away stack trace info and spring Asunción on unsuspecting programmers by default. Can't testAsync work?

[2017-02-23 10:44] AnthonyLloyd commented on #114
Yes testAsync is an option. I'll put in a PR later.

Do you want to do anything to the docs to focus on test & testAsync rather than testCase?

[2017-02-23 15:53] haf commented on #114
@AnthonyLloyd I leave that up to you. I'm pretty happy with the docs myself, but I believe you've been talking to F# newbies?

[2017-02-24 09:19] haf commented on #107
@smoothdeveloper How about a PR with the alternative ordering in a separate module? That way people can choose what they prefer.

[2017-02-24 09:24] haf opened #117 "Update FsCheck's intro to Expecto"
https://fscheck.github.io/FsCheck/QuickStart.html#Integration-with-Expecto

to this (and check the last line)

[code]

Will fix https://github.com/fscheck/FsCheck/issues/349

[2017-02-24 09:25] haf commented on #10
Would you like to PR this test? :)

[2017-02-24 09:26] haf commented on #1
If you're interested in Expecto for .Net core, please look at #101 now and review it.

[2017-02-24 09:29] haf commented on #102
I've contacted the NuGet support, awaiting a reply.

[2017-02-24 09:39] haf commented on #6
@gentauro That sounds super. What do you guys think should be the story for Expecto users then? An `Expect.followsSemver asm history "Should follow semver"` call?

[2017-02-24 09:42] wallymathieu commented on #6
We have discussed a way to enable that scenario in :
https://github.com/fsprojects/SyntacticVersioning/issues/5

[2017-02-24 11:03] MecuSorin commented on #10
If you're OK with me creating a new test project just for this test, the I will do it. Do you have any preferences for folder structure/name ?

[2017-02-24 11:05] haf commented on #10
Yes, please add a `testdata` folder to place it in to separate it out from the main projects.

[2017-02-24 20:01] MNie commented on #117
@haf

![image](https://cloud.githubusercontent.com/assets/7689103/23318817/4a449768-fad4-11e6-9dae-210fe8ef2152.png)

So it should be rather `Tests.runTests defaultConfig properties`?

[2017-02-24 21:20] MecuSorin commented on #94
Hey Henrik, I think we can shoot 2 bunnies with a single bullet: use this to exercise the tests from Expecto.Focused.Tests (we can make Expecto.Tests to reference Expecto.Focused.Tests, make the focused test from Expecto.Focused.Tests to fail, and the normal test to succeed) run the tests from Expecto.Focused.Tests and check that fails. No need then to change the build.fsx and rakefile.
As a contr

[2017-02-25 07:23] haf commented on #117
@MNie Exactly, that's the overload we need (if it compiles with it).

[2017-02-25 07:24] haf commented on #117
I believe I'd already updated this readme.

[2017-02-25 07:38] haf commented on #94
I think it would make sense to test this by referencing your project. Go ahead and PR it. The return value of the main test suite should just be the sum of the two calls to test tests.

[2017-02-25 08:16] mtnrbq commented on #94
Hi, I've made the PR for the change in Expecto.fs - I have been hung up on how best to add testing code. This is my first PR, any advice or guidance for future appreciated

[2017-02-25 10:27] haf commented on #94
@mtnrbq See comment https://github.com/haf/expecto/issues/94#issuecomment-279134364

[2017-02-25 12:24] MNie commented on #117
@haf I add this sample to Expecto.Sample project and it seems that everything is ok.

[travis](https://travis-ci.org/MNie/expecto/builds/205095318)
[branch](https://github.com/MNie/expecto/tree/feature/117/add_fscheck_sample)

[2017-03-02 00:45] mtnrbq commented on #94
@haf - started down the suggested path, hit a couple of issues: (Sorry if I've misunderstood some of the background, and overthought the approach)
1. Function is already named **runTestsInAssembly**, extracting assembly param will impact existing callers
1. Function includes a call to **testFromThisAssembly()**, which calls **Assembly.GetEntryAssembly()**
1. Function runTestsInThisAssembly, existi

[2017-03-09 15:56] haf opened #124 "Expose AsyncTest for FsCheck"
It would be nice to support async FsCheck tests explicitly in the API. /cc @AnthonyLloyd

E.g.

[code]

[2017-03-09 16:15] AnthonyLloyd commented on #124
I did think about this a bit but didn't put it in in the end.

I could only make it:
[code]
And I just use Async.RunSynchronously when passing to FsCheck.

FsCheck only offers sync at the moment but they are looking to add async soon.

Could be worth putting it in now if we could get the signature correct.

[2017-03-09 16:55] haf commented on #124
I was thinking we could parametise the IRunner to take a chunk to evaluate and a callback to call with the evaluated chunk. That way we don't have to tie FsCheck to the async implementation (Task/Async/Job/Alt/etc) /cc @kurtschelfthout

[2017-03-10 02:21] #107 closed

[2017-03-11 08:15] adamchester opened #125 "Use a Github Project for expecto->netcore"
There is now a Github project here: https://github.com/haf/expecto/projects/1. I think we should _try_ to use it for the netcore support. I've never used a Github project before, so I could be totally wrong. It seems like I don't currently have permissions though, hence this issue is being raised.

There are some remaining tasks that aren't easy to manage or track now. There have a been some PRs t

[2017-03-11 11:09] haf commented on #125
I think we *can* release a stable version with `paket pack`. Also [it seems to have been fixed now](https://github.com/NuGet/Home/issues/1365#issuecomment-274304485)

[2017-03-11 11:13] haf commented on #125
I've given you commit access to the repo for your contributions @adamchester Thank you very much for your continued support. I appreciate the PR-based workflow, even though you could commit directly; even in the future.

[2017-03-11 11:26] haf commented on #125
I've added your tasks to the project. You can take it from here.

[2017-03-11 21:42] haf opened #127 "Sequence assertions"
Add `Expect.isEmpty` and `Expect.isNonEmpty`.

Also add `val hasCountOf: subject:seq<'a> -> expected:uint32 -> selector:('a -> bool) -> message:string` that counts the occurrences of the found value in the sequence and ensures the number of found such equal the expected.

[2017-03-11 23:11] MNie commented on #117
@haf  I think this issue could be closed? Since a fix in Expecto and FsCheck were merged

[2017-03-12 06:26] adamchester commented on #125
Thanks @haf

Did you mean we can and should release a stable Expecto even though we reference a pre-release package (`Mono.Cecil 0.10.0-beta2`)?

[2017-03-12 09:55] #127 closed

[2017-03-14 14:13] #114 closed

[2017-03-15 07:49] cloudRoutine commented on #114
@AnthonyLloyd in F# 4.1 it's possible to modify the cexpr to get back to reasonable stack traces
https://eiriktsarpalis.wordpress.com/2016/11/19/reconciling-stacktraces-with-computation-expressions-revisited/

[2017-03-15 09:30] AnthonyLloyd commented on #114
Thanks @cloudRoutine it looks good. I guess we can't upgrade to F# 4.1

[2017-03-20 12:37] haf commented on #114
Anthony https://travis-ci.org/haf/expecto/jobs/212764632 - Is it perhaps due to running on a single threaded machine?

[2017-03-20 13:10] AnthonyLloyd commented on #114
Yes. Or I think I saw they had two procs but high load.

Maybe the test need to check the number of procs and skip if low. Defeats the purpose of the test run in travis though.

I'm stuck on what to do about it. Seems hard to make a reliable deadlock. All solutions like running it for longer and skip for low procs are not great.

[2017-03-20 16:15] haf commented on #114
Skipping it if there is not enough concurrency is fine imo

[2017-03-21 12:27] AnthonyLloyd commented on #114
I'll add that.

[2017-03-21 17:32] haf commented on #114
Excellent!

[2017-03-24 15:14] isaacabraham commented on #87
Is there anything you need to do to "use" parallel sequences or should it just now happen automagically?

[2017-03-24 16:15] AnthonyLloyd commented on #87
testSequencedGroup is what you need. Should all be good, let me know if not.

[2017-03-27 10:10] enricosada commented on #125
there was a bug with `dotnet pack` about that in sdk rc4, but is fixed in rtm.
So now is not anymore a technical issue.

[2017-03-27 10:15] haf opened #132 "Add `Expect.isMatch actualString regexString`"
And another `Expect.isRegexMatch : string -> Regex -> unit`

Aim: let the user expect a string to match a regex.

Also add to `Expect.Flip`.

Maybe this?

[code]

Plus the rest + docs?

[2017-03-27 13:15] MNie commented on #132
@haf isNotRegexMatch also?

[2017-03-27 13:24] haf commented on #132
Yes, that makes sense. And perhaps one that takes a callback that takes the matched groups.

[2017-03-27 14:07] MNie commented on #132
@haf

You mean something like this?

    let isRegexMatchGroups actual pattern doSomethingWithMatch message =
        let groups = Regex.Match(actual, pattern).Groups
        match doSomethingWithMatch groups with
        | Some x -> ()
        | None -> Tests.failtestf "%s. Expected %s to match pattern: /%s/" message actual pattern

[2017-03-27 15:30] haf commented on #132
Thinking about it, perhaps the best version is to return the groups if there's a match. Let's merge what you've already done, it's good enough for now, and we can ponder the groups ;)

[2017-04-03 04:25] jmmk commented on #1
Is anything still blocking this? Is https://github.com/Albacore/albacore/issues/221 required to get a .net core build?

[2017-04-03 04:48] adamchester commented on #1
Hi @jmmk, there is nothing really blocking this, except for someone finding the time. AFAIK, we just need to merge nupkg (from `dotnet`, with netstandard1.6 DLL) into the main albacore/nuget generated nupkg.

See the netcore branch.

[2017-04-03 15:07] haf commented on #132
Fixed with #133

[2017-04-03 15:07] #132 closed

[2017-04-03 15:07] haf commented on #124
@kurtschelfthout @mausch  What's your opinion?

[2017-04-04 07:36] kurtschelfthout commented on #124
Not sure it can work. Things to think about:
- Sizing. FsCheck linearly increases the size from startsize to endsize during the test. So if you want a similar size distribution of your tests as a sequential test from size 0-100,  you could chop it up in 4 parallel runs as 0-24,25-49 etc. But, it's likely that larger size tests will be slower, so perhaps that's not such a great idea. Also, endsize-

[2017-04-05 13:12] vasily-kirichenko opened #135 "Test timeout"
Is there a way to set a timeout for a test, test list or test fixture, like `[<Timeout(...)>]` attribute in NUnit?

[2017-04-05 13:16] forki commented on #135
Please no attribute.
But a default combinator would be nice

[2017-04-05 13:18] vasily-kirichenko commented on #135
I'd like to set global timeout as well, assembly-wide, in one place.

[2017-04-05 13:21] forki commented on #135
Yes that would be a combinator on the run function - or test lists.

[2017-04-05 14:38] haf commented on #135
There is, but it's not yet exposed with a top-level function: https://github.com/haf/expecto#sequenced-tests https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L376-L392 that takes a `Test`; instead it currently takes a `TestCode` – meaning it's fully possible to *use* it to timeout a test, but not to timeout a list of tests.

As for a total timeout, perhaps a configuration setting arou

[2017-04-07 13:50] vasily-kirichenko opened #136 "Use custom FsCheck Arbitrary in testProperty"
I have this code:
[code]
Is it possible to rewrite it with `testProperty`? I tried:
[code]
`arbitrary` is a list of `Type`s, I have a value of `Arbitrary<_>` instance. Any ideas how to pass it to config?

[2017-04-07 14:00] AnthonyLloyd commented on #136
I use it in the following way if it helps at all:
`
module Gen =
    type Marker = class end
    let config = {FsCheckConfig.defaultConfig with arbitrary = [typeof<Marker>.DeclaringType]}

    let idArb = Arb.convert ID (fun (i:ID) -> i.ToUInt64) Arb.from
    let userIDArb = Arb.convert (string >> User.login) (User.name >> Byte.Parse) Arb.from
    let list1Arb() = Arb.convert (fun (h,t) -> List1.i

[2017-04-07 15:12] haf commented on #136
Anthony is correct; you have to point it out using the config (to avoid tests polluting each other with registered arbitraries in a global static).

@AnthonyLloyd Perhaps by allowing to pass a list of `Arbitrary<'thing>` to the function and just adding that to the config?

Or we could document this better?

[2017-04-07 15:51] AnthonyLloyd commented on #136
A list of Arbs may be difficult. For FsCheck config you need a type list or you can use Prop.forAll in the test and create a tuple Arb (http://stackoverflow.com/questions/38839721/how-do-i-implement-multiple-argument-generation-using-fscheck/38841255).

A module of Arbs work for me in the main. I'm not sure how they would override as I've never had to go there and maybe best not to.

I think putti

[2017-04-07 17:12] vasily-kirichenko commented on #136
Yes, I'd like to not pollute global scope with generators. I'd be great if it could be possible to write it like this:
[code]

[2017-04-07 20:11] AnthonyLloyd commented on #136
Using the approach in the stackoverflow you could do something like:

[code]

[2017-04-08 15:23] #135 closed

[2017-04-08 15:23] haf commented on #135
Closing because this already exists as linked and no reply was given.

[2017-04-10 09:11] vasily-kirichenko opened #138 "Export test results to TeamCity"
I run an exe containing tests with FAKE on TeamCity. If a test fails, TeamCity does not show meaningful info:

![image](https://cloud.githubusercontent.com/assets/873919/24854261/763fc74a-1de6-11e7-941b-405152a0033a.png)

Expecto tests are not presented in tests statistics either.

For example, NUnit test runner produces an XML containing run results, which can be passed to TeamCiyt with a FAKE he

[2017-04-10 10:54] haf commented on #138
I'm leaving this open for anybody who uses TC to pick up and work on.

[2017-04-10 12:03] AnthonyLloyd commented on #136
Early days but Hedgehog may be trying to address some of these problems:

http://blog.nikosbaxevanis.com/2017/04/10/less-fragmented-properties-with-hedgehog/

[2017-04-10 12:33] haf commented on #136
Meta: I'm not going to contribute to more fragmentation by supporting a library that seemingly doesn't send pull requests towards FsCheck. If it wants to remodel FsCheck then that should be a pull request first, being rejected (like this project was with Fuchu).

On topic: so the only difference there is really `Prop.ForAll` versus `property {}` – because the generators can be used and consumed wi

[2017-04-10 16:59] AnthonyLloyd commented on #136
I think they are getting rid of Arbitrary and combining gen and shrink somehow. The docs are very light and just starting to come out so not sure yet if its a new simpler solution.

I agree it should only be considered if its a substantially simpler/better model and FsCheck can't go there.

[2017-04-12 10:19] vasily-kirichenko commented on #138
What about a new argument `--xmlOutput <path>`? It would be propagated to a new `XmlOutput: string option` field around here https://github.com/haf/expecto/blob/7f558dee6974aa18a29c2cb8c09ffb0abe2022a5/Expecto/Expecto.fs#L825.

I have a Printer already which produces proper NUnit XML in-memory (as XDocument). Where I should hook it? Who should wrote the XML to file? The printer itself?

[2017-04-12 10:58] vasily-kirichenko commented on #138
Hmm. Looking at https://github.com/haf/expecto/blob/7f558dee6974aa18a29c2cb8c09ffb0abe2022a5/Expecto/Expecto.fs#L707 it seems it's already implemented (in different way). But I don't see messages like `##teamcity[...` in my TC log. Is this functionality has been released in NuGet?

[2017-04-12 11:02] vasily-kirichenko commented on #138
Ah, FAKE runs the test console app as external process, so it does not see TC environment variables :)

[2017-04-12 13:05] vasily-kirichenko commented on #138
Fixed in https://github.com/fsharp/FAKE/pull/1520

[2017-04-12 13:05] #138 closed

[2017-04-13 20:17] MNie opened #139 ".net core template"
When migration to .net core is done #1 .
It would be great to have an ability to create an Expecto .net core project by typing:
`dotnet new -i Expecto`
Like it is done for [Fable, Freya and so on.](https://github.com/dotnet/templating/wiki/Available-templates-for-dotnet-new)

CC: @haf

[2017-04-16 17:51] jackfoxy opened #141 "Replaying FsCheck test cases may be broken"
See the "testexpectofscheck" branch of https://github.com/jackfoxy/personalServer for demonstration code.

The problems have only been tested/verified in debug compile, not release. See the script file \tests\PersonalServer.Tests\Scripts\ArbRegister.fsx to demo the problems in native FsCheck. Note that all reported problems in Expecto/FsCheck can be made to work in ArbRegister.fsx.

tests/Personal

[2017-04-16 17:54] jackfoxy opened #142 "request to display list name in console output"
It would be useful to have list names displayed along with the simple statistics of each test list run when NOT using the --debug switch. There is really no way to visually tell which lists ran. Example of current state:

[14:37:45 INF] EXPECTO? Running tests...
[14:37:48 INF] EXPECTO! 8 tests run in 00:00:03.5117416 - 8 passed, 0 ignored, 0 failed, 0 errored. Success!
[14:37:48 INF] EXPECTO? Runn

[2017-04-16 18:17] haf commented on #142
`--summary`?

[2017-04-16 18:37] haf commented on #141
You need to feed `arbitraries` here https://github.com/jackfoxy/PersonalServer/blob/master/tests/PersonalServer.Tests/DomainTypes.fs#L9

We have docs [here](https://github.com/haf/expecto#property-based-tests) – on the config type.

[2017-04-17 07:01] adamchester commented on #125
This is [done](https://github.com/haf/expecto/projects/1).

[2017-04-17 07:01] #125 closed

[2017-04-17 08:58] #1 closed

[2017-04-18 04:00] jackfoxy commented on #142
Summary is more verbose than sometimes necessary.

IT would just be nice to know when I see "5 passed, 0 ignored, 0 failed, 0 errored. Success!" to also know which list is referenced.

[2017-04-18 15:56] jackfoxy commented on #141
Thanks! arbitrary: Type list works perfectly. It was easy to overlook. Perhaps adding a use case example in the documentation would be helpful. Many FsCheck beginners have difficulty with arbitrary registration. (There is a recent Stack Overflow item about this, and even the FsCheck documentation could use some better examples.)

As for custom label displaying, may Expecto.Logging is the solution.

[2017-04-18 16:11] haf commented on #141
@jackfoxy Could you write a few lines in the README about it, please?

[2017-04-18 23:22] jackfoxy commented on #141
Added steps to the README of the "testexpectofscheck" branch, not in "master" branch. More info follows in the readme.

[2017-04-19 20:07] AnthonyLloyd commented on #141
Hi, I thought I had a similar issue so I had a look at your tests (mine turned out to be a real threading bug).

[code]
Here the stdgen is only being used to generate the function param () so isn't really working. The only difference I can see is the config10k is 10000 tests and configReplay is the default 100 tests.

I think you need to something more like the following.

[code]
Anyway in my test

[2017-04-20 20:56] mastoj opened #144 "Question: Why is the message the last argument for all asserts?"
Is there a good reason to why the message is the last argument? That makes it harder to pipe actual value to an assert like I most often wants to do. I noticed that one of the samples actually did that so I guess that the message hasn't always been the last argument.

[2017-04-21 04:57] MNie commented on #144
@mastoj There is also [Flip module](https://github.com/haf/expecto/blob/master/Expecto/Flip.Expect.fs) created for pipes. Do you try this one?

[There](https://github.com/haf/expecto/blob/master/Expecto.Sample/Expecto.Flip.Sample.fs) are some samples.
[Here](https://github.com/haf/expecto/pull/119) is an issue with Flip module.

[2017-04-21 05:13] mastoj commented on #144
I'll definitely try that instead of writing my own helpers :)

[2017-04-21 05:13] #144 closed

[2017-04-21 05:13] mastoj commented on #144
Closing since this was a question and I'm satisfied with the answer.

[2017-04-21 06:14] MNie commented on #139
Closing since template was created and docs were updated.

[2017-04-21 06:14] #139 closed

[2017-04-21 06:18] haf commented on #139
:1st_place_medal:

[2017-04-22 17:17] jackfoxy commented on #141
@AnthonyLloyd Thanks. I made an incorrect assumption about how FsCheck seeding works. Since my 10000 tests config was failing after fewer than 100 tests, I assumed I could use the same seed in a config that would only run a max of 100 tests. I learned something.
Closing this issue.

[2017-04-22 17:17] #141 closed

[2017-04-25 10:09] Kurren123 opened #145 "Strange characters when running expecto's template project"
# Steps to reproduce

Go to a new folder

[code]

# Output

Strange characters are next to the last line:

[11:05:37 INF] EXPECTO! 8 tests run in 00:00:00.2364089 ÔÇô 2 passed, 1 ignored, 5 failed, 0 errored. ( Ó▓░ ─╣╠» Ó▓░Ó│â )

Screenshot:

![image](https://cloud.githubusercontent.com/assets/3525980/25380185/4668b41a-29a7-11e7-8eab-afd29509a94e.png)

# System info

-  Windows 10
- Dotnet version

[2017-04-25 10:18] forki commented on #145
@haf calls that "spirit" and it's supposed to be something like an emoji / smiley. Unfortunately it often just looks weird. I tried to PR it out but @haf insisted it stays ;-(

[2017-04-25 10:19] MNie commented on #145
@Kurren123 it's a rather problem with encoding/font in your cmd?
@forki It's related to Expecto.Template I could remove this emoji / smiley from [Expecto.Template samples file](https://github.com/MNie/Expecto.Template/blob/master/Sample.fs).

[2017-04-25 10:19] vasily-kirichenko commented on #145
I'm also for removing this unicode noise. If not @forki I'd never recognized a smile there.

[2017-04-25 10:20] Kurren123 commented on #145
@MNie i don't think its related to the template because when I replace the tests with my own simple test I still get the issue

[2017-04-25 10:20] forki commented on #145
@MNie no the template is unrelated nonsense ;-)

[2017-04-25 10:21] Kurren123 commented on #145
@MNie Is this a problem with my specific cmd? I'm guessing you can see the smiley on linux but not windows

[2017-04-25 10:23] forki commented on #145
@Kurren123 yes there are situations where the console shows the intended chars, but even then some peope (like me) can't see that it is supposed to be a smiley.

[2017-04-25 10:27] MNie commented on #145
`@MNie no the template is unrelated nonsense ;-)`
@forki I looked at first at steps to reproduce my mistake ;)

[2017-04-25 10:28] forki commented on #145
@MNie I was obviously joking a bit, but I'd prefer we remove spritis from templates and product

[2017-04-25 13:30] haf commented on #145
@Kurren123 There are UTF8 capable terminals in the world, even on Windows. The spirit is this one:

"ᕙ໒( ˵ ಠ ╭͜ʖ╮ ಠೃ ˵ )७ᕗ"

[2017-04-25 13:33] forki commented on #145
doesn't look any different to me.

[2017-04-25 13:35] haf commented on #145
There are arms at the start and end and a monocle on the right eye?

[2017-04-25 13:38] forki commented on #145
and a bit of snot in the nose?

[2017-04-25 13:39] Kurren123 commented on #145
@haf yes the command prompt is pretty basic so it's a good idea to use something else. However the same bug appears on the terminal within vscode also:

![image](https://cloud.githubusercontent.com/assets/3525980/25388105/c6c7f7d4-29c4-11e7-8e46-a6bc709243f4.png)

I actually like the smiley, it's just the jumbled characters that look messy

[2017-04-25 21:38] haf commented on #145
@Kurrren123 – that's a bug in VSCode and/or the terminal emulator it uses.

[2017-04-25 21:45] adamchester commented on #145
I haven't dug into this yet, this recent change might be related https://github.com/haf/expecto/commit/bc3a172415869d2ba7aad0beed073587258d78d0#diff-312b950ecb6e71200586b2408ab6e821R643

[2017-04-25 21:46] #145 closed

[2017-04-26 15:41] #102 closed

[2017-04-28 08:02] haf opened #146 "Transition expect-functions to "throwing Message""
...that way message printers can optionally choose how to format the test data: # runs, # generated datums, # failures, failing input data, succeeding input data, what verbosity things are.

We can initially make this change by letting the different exceptions (skip exception, failure exception) take a Message in their constructors.

This will make the error output possible to colourise, too.

[2017-04-28 08:05] haf opened #147 "Add progress spinner/bar feature"
Progress bars when we're doing long-running tests:

 - 1...maxTests for FsCheck tests
 - With #146, the above can log how far it's gone with *fields* in the message. Up to printer to decide how to format it.
 - By default opt-out (MAJOR-version change), provide progress bar in the happy case of command line usage

For normal expecto:

 - Each test-case counts as one out of the total number of test

[2017-04-28 08:19] haf opened #148 "Expecto fails to build after 'paket update'"
@adamchester @cloudRoutine

Doing`paket update` with paket versions between 4.1 and 5.0-alpha.6 all fail with:

[code]

Here's the diff generated:

[code]

Pinging @forki

[2017-04-28 08:21] haf commented on #148
I'm branching off `releases/v4.x` as a stable release branch, off of master now.

[2017-04-28 08:28] cloudRoutine commented on #148
For future reference for netcore projects if you see this manifest resources not created error, try updating the fsharp.net.sdk to the latest version if possible and make sure restore is being called before build, that's when the manifest resources are created. If restore isn't being run make sure that the path to paket.targets is correct in the fsproj and that the `paket.targets` being used is th

[2017-04-28 08:33] haf commented on #148
I use `xbuild` on `OS X` and not Windows. Repro is pushed on that platform. Can paket update the SDK and will that fix the issue? Why is it suddenly broken?

[2017-04-28 08:35] cloudRoutine commented on #148
did the version of xbuild get upgraded? i'm pretty sure this is not a paket issue, but let me try running this on my machine in a little while

[2017-04-28 08:41] haf commented on #148
[code]

[2017-04-28 08:57] cloudRoutine commented on #148
you may not have noticed this, but you have paket hardcoded in the build.cmd and build.sh to `4.0.0-alpha030`

when I run it on my machine it uses the wrong msbuild
[code]
I add those lines from before to `build.fsx`

[code]
[code]
no manifest resource problem

the build still fails though with
[code]
but that's probably due to some other configuration issue

like I said before, paket is not the s

[2017-04-28 08:59] haf commented on #148
I haven't actually; build.cmd and build.sh was PRed (by you, perhaps?) I use `bundle exec rake` to build.

[2017-04-28 09:00] cloudRoutine commented on #148
you can try changing
[code]
to
[code]
in Expecto.fsproj

[2017-04-28 09:00] haf commented on #148
I doubt it's an xbuild problem... It crashes in the dotnet builder?

[2017-04-28 09:02] haf commented on #148
But indeed, that did help. Let me try to build it now.

[2017-04-28 09:06] haf commented on #148
Thank you @cloudRoutine

[2017-04-28 09:12] haf commented on #148
Not solved;

[code]

when rake runs `dotnet pack -v n --no-build -c Release -o ../build/clipkg /p:Version=5.0.0-beta3 Expecto.netcore/Expecto.netcore.fsproj` from running `bundle exec rake` to start with.

[2017-04-28 09:13] cloudRoutine commented on #148
are your `/obj/` dirs getting cleaned before build? detritus in them will cause all kinds of problems

[2017-04-28 09:15] haf commented on #148
No, I just build. Isn't the build tool responsible for its own garbage?

[2017-04-28 09:15] haf commented on #148
Back to
/usr/local/share/dotnet/sdk/1.0.1/Microsoft.Common.CurrentVersion.targets(2628,7): error MSB4057: The target "CreateManifestResourceNames" does not exist in the project. [/Users/h/dev/haf/expecto/Expecto.netcore/Expecto.netcore.fsproj]
    0 Warning(s)
    1 Error(s)

[2017-04-28 09:17] haf commented on #148
Need to stop fighting windmills for today. /cc @enricosada

[2017-04-28 09:17] cloudRoutine commented on #148
one would think that, but this is just one of many stupid things that happens in the brave new world of netcore.

You have to run restore after cleaning, like I said before restore is what sets up the manifest so that msbuild will run properly.

Msbuild14 needs to be used on the old style fsproj, msbuild15 (aka dotnet build) needs to be used for the new style netcore fsproj

[2017-04-28 09:18] haf commented on #148
Could you PR that into the Rakefile, please?

[2017-04-28 09:24] cloudRoutine commented on #148
i don't write ruby

[2017-04-28 09:33] enricosada commented on #148
Atm (with .net core sdk 1.0), you need to do at least once the `dotnet restore`, before `dotnet build`
And you are also responsible to do that manually if you change `PackageReference`
see referenced issue for more info

That happen if prohect is not restored. i know. i was too short on time for 1.0 and didnt see that. i cannot fix it untile next 1.0 or 2.0 release (it's a file embedded in dotnet

[2017-04-28 09:39] haf commented on #148
@cloudRoutine I've removed you as collaborator from the repository since you don't write ruby and thus cannot keep the master branch compilable.

[2017-04-28 09:42] haf commented on #148
I've removed FAKE from the master branch too, just to make it clear that I need to be able to release my project.

[2017-04-28 09:43] cloudRoutine commented on #148
don't ask me for help next time

[2017-04-28 09:43] haf commented on #148
You can count on it.

[2017-04-28 09:46] forki commented on #148
@haf people tried to help you here. can we please be nice to each other?

[2017-04-28 09:50] enricosada commented on #148
Yes, please let's just calm a bit.

@haf what you run from command line? `bundle exec rake merge_nupkgs` is enough to check the error?
I just need to check without doing a real release/push to nuget.org.

I see a `dotnet restore` in the `Rakefile`, so strange that doesnt run.
Let me check.

[2017-04-28 09:50] haf commented on #148
@forki I'm frustrated that I've now spent close to two hours on this without a resolution. It's not Jared's fault, but it's surely not mine either since I didn't change this piece of infrastructure. I have infrastructure that is streamlined towards releasing code frequently; albacore and the build needs to work from the command line; which is what albacore delegates to. So when the reply is "I don

[2017-04-28 09:52] cloudRoutine commented on #148
I don't understand what your problem is, I stop what I'm working on to help you diagnose your problem and I give you detailed advice on how to address them and similar ones that may come up in the future. Even if I did know ruby I wouldn't update the Rakefile right now because I'm busy, but I don't and I have zero familiarity with Rake so it wouldn't make any sense for me to do it.

It's a shame y

[2017-04-28 09:55] forki commented on #148
@haf everyone in the ecosystem is frustrated about netcore and MSBuild 15. It's not just you.

[2017-04-28 09:59] haf commented on #148
**** it you're both right. I added Jared back.

[2017-04-28 10:12] haf opened #149 "logger from Logary facade doesn't delay"
Async should be possible to execute multiple times, but many of the loggers that Expecto uses, execute the print to console command directly, rather than as a result of running the async.

This causes problems, when you expect to be able to re-run the async to output the same result multiple times, or defer the execution.

I've fixed it in Logary, that needs to be pulled in.

[2017-04-28 10:12] enricosada commented on #148
As a note about that (not that i care a lot :D), now also sdk is 1.0 RTM.

So can you please give some structured feedback about it, not just generic rants (not speaking about your comment @forki), in the right repositories?

It's also possible to contribute to that, instead of waiting MS, **at least with bug reports please**.
Or feedback on flow. or roadblock. or part not nice for existing librar

[2017-04-28 10:21] forki commented on #148
@enricosada you are absolutely right. Every single issue we see is fixable. And I appreciate your work to get us there. The problem in my comment was more that stuff is really really flaky and we basically encounter new issues with every update. This is frustrating. I seriously hope this will go away soon but since MSBuild 15 is not backwards compatible I seriously doubt it

[2017-04-28 10:21] #149 closed

[2017-04-28 10:27] haf commented on #148
And then there are cascading issues from the way of the main build team;

 - https://github.com/Albacore/albacore/issues/229 – breaking change for no apparent reason
 - https://github.com/Microsoft/msbuild/issues/2003 – response: just ignore that it doesn't work by not using the feature you started using msbuild for
 - https://travis-ci.org/haf/expecto/jobs/226747060#L1861 – this issue
 - https://

[2017-04-28 10:58] enricosada commented on #148
Every update **of a beta/rc/preview version**. You got only 1 rtm.
Not to be pedantic, but you have choosen you go bleeding edge, and use a prerelease version to use .NET Core Sdk.
And **thank you a lot for that**, i fixed lot of bugs in the wild i didnt see in the previous version, and now 1.0 rtm is ok for f# (can be better obv, filling bugs and contributing to it)
**I think was the right thing

[2017-04-28 11:00] enricosada commented on #148
@haf how can improve it? We need an example repo with fake and one with rake? to show how the current status to use it in an existing library? so can be used as reference?
Really asking, because we can do that, if can help.
dunno, other ideas?

[2017-04-28 13:25] haf commented on #148
- The dotnet install script stopped working when they changed where the sdk/cli was hosted a while back
 - That also caused the rakefile to crash because it had been downloading the cli
 - Two days ago NuGet returned 500 Internal Error for half a day when I was restoring packages in the suave builds
 - The mono deb package servers are sometimes updated without proper signatures causing all install

[2017-04-28 14:28] enricosada commented on #148
Me too, but netcore was completly new, so i'd like to see bugs to stabilize asap.
mono is another story.

@haf that was my same pain ( I know brew doesnt work yet, is not a small task but i understand why is not yet done ).

But the install script is a good example for everyone in this discussion.
I asked `dotnet/cli` team about it in https://github.com/dotnet/cli/issues/5952

Now instead of

[cod

[2017-04-28 15:33] haf commented on #148
This information is really valuable. Would it be possible to ask you to jot down some of this in a blog entry every once in a while?

[2017-04-28 19:02] #148 closed

[2017-04-28 19:19] vbfox opened #151 "The primary reference "Expecto" could not be resolved"
Expecto is currently present in a `net40` folder in it's nuget package suggesting a 4.0+ compatibility but it isn't the case as installing it in any version < 4.6.1 fails with :

    warning MSB3274: The primary reference "Expecto" could not be resolved because it was built against the ".NETFramework,Version=v4.6.1" framework.
        This is a higher version than the currently targeted framework

[2017-04-28 19:21] haf commented on #151
Yes I know. Please see https://github.com/Albacore/albacore/issues/148

[2017-04-28 19:36] haf opened #152 "Visualise test run"
When you have many concurrent tests running with Expecto it's very hard to follow the console output. Commonly each line if prefixed with a number or correlation id, but this has better properties for machine parsing than reading it as a human.

Create a `Logger` that [visualises events](https://marmelab.com/EventDrops/):

![c0a897b2-75b2-11e6-96df-e72e4b02335a](https://cloud.githubusercontent.com

[2017-05-02 19:48] inosik commented on #152
Maybe we could build a logger for [TAP](https://testanything.org)? There is a curated list of resources about the protocol at [sindresorhus/awesome-tap](https://github.com/sindresorhus/awesome-tap).

There are also a couple of reporters, for example, [one which can generate Markdown](https://github.com/Hypercubed/tap-markdown) or [this one, which summarizes the results pretty nicely](https://githu

[2017-05-03 00:12] ronniebarker opened #153 "Configurable parent, name separator"
Would it be possible to have a configurable parent, name separator (or at least have the TeamCity printer use a '.' instead of a '/'?

ooo - and maybe a formatter; TeamCity doesn't deal with names with spaces in so well - maybe being able to swap the spaces for underscores...

[2017-05-03 10:06] haf commented on #153
Releasing as v5.0-rc.1.

[2017-05-03 10:06] #153 closed

[2017-05-04 19:54] #62 closed

[2017-05-06 19:41] sergey-tihon commented on #151
Does it mean that Expecto will not work on .net `<4.6.1` when issue will be fixed?

[2017-05-07 06:35] haf commented on #151
Right. Expecting targets 4.6.1 because that has the most overlap with net core afaik.

[2017-05-09 14:03] forki commented on #151
ping. We currrently have a nuget package that says it works for net40 but doesn't can you please push a fix?

[2017-05-09 14:59] haf commented on #151
No, I haven't fixed the bug yet, so I can't. But it's clearly documented how to fix it if you want to fix it. Sorry.

[2017-05-11 08:36] haf opened #156 "Expect.all and Expect.exists"
[code]

 - [x] allEqual
 - [x] all
 - [x] exists
 - [x] Expect.Flip
 - [x] Update README with docs on the above
 - [x] XMLDOC above each function
 - [x] Specify in the failure message, what iteration count you failed at, what the last seen item was and call/print a stubbed delta/diff function on the `'thing`, printing what differs between the expected and the found (that returns `false` from the `

[2017-05-11 08:37] haf commented on #156
Ping @gentauro and @MNie – if you're interested ;)

[2017-05-11 15:02] MNie commented on #156
@haf I could do that. I will provide pr with that tommorow if it's not a problem :)

[2017-05-14 13:47] haf commented on #156
Done! Thanks to MNie

[2017-05-14 13:47] #156 closed

[2017-05-14 14:09] haf opened #160 ".Net Core packaging doesn't accept prerelease deps"
Repo: `bundle exec rake`

[code]

[2017-05-14 14:15] haf commented on #160
Ref https://github.com/NuGet/Home/issues/1365

[2017-05-15 09:28] haf opened #161 "Pretty-printing of ligatures, control chars and stuff"
<img width="990" alt="screen shot 2017-05-15 at 11 26 14" src="https://cloud.githubusercontent.com/assets/193115/26051078/5726bd00-3961-11e7-9433-6a41174886ce.png">

It would be good if Expecto printed control characters as their unicode escape sequences, like `\u0004`, end-of-transmission (EOT), for example.

[2017-05-16 12:57] jindraivanek opened #162 "--summary flag replaces TeamCity printer with default printer"
With --summary flag TeamCity printer don't work, even if its added to config with `{ defaultConfig with printer = Expecto.Impl.TestPrinters.teamCityPrinter defaultConfig.printer }`.

Guessing from this code https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L1505, it will also happen for --summary-location and --stress flags and these flags replace any custom printer with default printe

[2017-05-16 13:50] haf commented on #162
Yeah; so we have a case of printers 'overwriting each other's settings'. I can think of two solutions:

 - `--multi-printer` – composes all printers together, but makes it impossible to replace the default printe
 - `--printers "teamcity,default"` – naming the printers and making an argument case: `Printers of printers:string[]` in the DU of allowed arguments, then amending the code correspondingl

[2017-05-16 16:35] jindraivanek commented on #162
I am thinking about solution where each non-default printer get inner printer as a parameter and alter it (instead of altering default printer). Does this sound good?

[2017-05-17 07:57] haf commented on #162
No that's not composable. Better then to have a fan-out printer

[2017-05-17 14:59] AnthonyLloyd opened #163 "Add setup/cleanup example to the docs?"
People have asked for this a couple of times. It may be good to add a section in the docs with an example like the following.

[code]

[2017-05-17 20:13] AnthonyLloyd commented on #163
#164 added

[2017-05-18 08:53] jindraivanek commented on #162
OK, I think I need to be more detailed here, because adding new option doesn't solve the issue:

#### What is the issue?

--summary flag replaces printer with default printer and that is IMO unexpected behavior and confusing. (I spent hour or so debugging this, because I thought problem was with the environment variable.)

#### What is the expected behavior?

--summary flag should only produce ext

[2017-05-18 11:40] #163 closed

[2017-05-18 11:41] haf commented on #162
Yes, that we agree on =)

[2017-05-18 11:42] haf opened #165 "Cannot release v5 due to .Net Core Nuget bugs"
See:

 - https://github.com/dotnet/cli/issues/6593
 - https://github.com/fsprojects/Paket/issues/2324
 - https://ci.appveyor.com/project/haf/expecto

In summary: creating the nuget with a Mono Cecil pre-release fails.

Possible solutions:

 - Merge https://github.com/NuGet/Home/issues/1365 to the dotnet binary for v1
 - Bump Mono Cecil https://github.com/jbevain/cecil
 - Use Paket Alpha with .Net

[2017-05-18 11:45] haf commented on #160
Prefer https://github.com/haf/expecto/issues/165

[2017-05-18 11:45] #160 closed

[2017-05-19 17:10] jindraivanek commented on #162
Good :)

So, most simple solution is change summary printer to something like this:
[code]

and for --summary flag, call it with config.printer

I think this should fix the issue.

I understand composability concerns, but that's IMO another issue/feature (to rewrite printers in composable manner).

[2017-05-20 13:19] haf commented on #162
Yes, that's approaching a solution. Inner printer is the composition I'm looking for. But doesn't your solution make the fold of arguments, position-dependent?

[2017-05-22 12:29] 7sharp9 commented on #151
Where is it clearly documented on how to fix?

[2017-05-22 14:19] haf commented on #151
here https://github.com/Albacore/albacore/issues/148

[2017-05-23 00:38] kartavtcev opened #168 "Expect.streamsEqual ("expects the streams to byte-wise equal") does not work: different streams are considered equal."
env: .NET 4.6.1, F#console app, Paket refs: nuget Expecto (installed by default 4.1.0), lib\net40\Expecto.dll

![Screenshot](https://cloud.githubusercontent.com/assets/5797794/26333807/464d617e-3f69-11e7-8578-c8fc2acb8226.png)

code:
[code]

[2017-05-23 07:05] haf commented on #168
I suppose you have to `Seek(0L, SeekOrigin.Origin)` to make the operator work; Expecto can't seek for you because not all streams are seekable.

I'm not sure this is a bug.

[2017-05-23 20:02] #168 closed

[2017-05-24 08:31] #165 closed

[2017-05-24 12:28] #162 closed

[2017-05-26 08:07] AnthonyLloyd opened #172 "Add Expecto/FsCheck type constraint example"
Will PR if you think this looks OK. Suggestions welcome.

[code]

[2017-05-26 11:44] haf commented on #172
I think it looks really good :) 💯

[2017-05-28 12:08] teo-tsirpanis opened #174 "Add .NET Standard support for Expecto.FsCheck"
Both Expecto and FsCheck now support .NET Standard. I think it's time to 🌉 the 🕳 between these two excellent projects.

[2017-05-29 09:22] haf commented on #174
Indeed. And Expecto supports .Net Standard, so it should be primarily a matter of building Expecto.FsCheck for .Net Standard, too.

[2017-06-07 08:38] haf commented on #151
v2.7.0 has been released of albacore thanks to @danieljsummers – it's now possible to bump the dependency here until #175 lands.

[2017-06-13 02:41] SirEel opened #176 "Problems with Ionide in VS Code"
I'm having trouble with Expecto in Ionide with VSCode. I created Expecto project from command console. First it wouldn't build, because .fsproj was targeting .NET 4.5 and Expecto was built with 4.6.1. I changed version to 4.6.1 in .fsproj, now it builds, and I can run my tests from external command window. But (1) Intellisense in the VSCode editor gives red squiggles wherever Expecto is mentioned,

[2017-06-13 08:13] rojepp opened #177 "Build against lower version of Framework"
Is there any reason Expecto needs .Net 4.6.1? I ran against this trying to update dependencies for FSharp.Configuration, which is built against .Net 4.6, so latest Expecto can't be loaded.

[2017-06-13 09:02] haf commented on #177
@rojepp Not something in particular. I just find it hard to know what framework to target when using mono because there's no tooling that tells me about what features of the very latest mono I cannot use when targeting lower frameworks. Also, afaik .Net standard 1.6 is mostly equivalent to 4.6, but I don't know about patch numbers.

Anyway; I normally let my test projects be the very latest versio

[2017-06-13 09:05] haf commented on #176
I've "forwarded" this issue to ionide.

[2017-06-13 09:05] #176 closed

[2017-06-13 21:32] donovanlange opened #178 "Failed tests should print to `stderr` instead of `stdout`."
Noticing as we're integrating expecto into a project with CI that the output of a failed test is sent to stdout.  Should this be sent to stderr instead?

[2017-06-13 21:34] donovanlange opened #179 "Test Results file."
For projects using VSTS as their CI system, it'd be really amazing if Expecto could optionally (via a command line parameter) generate a TestResults file in an NCrunch or XUnit compatible XML format (a la: https://www.visualstudio.com/en-us/docs/build/steps/test/publish-test-results)...

I realize that as I'm asking for this, that of course a free pony would be amazing, too.  But to the extent tha

[2017-06-13 21:51] adamchester commented on #179
FYI there is also this: https://github.com/adamchester/expecto-adapter

The adapter can plug in to VSTS, and publish test results, but right now it has fallen a little behind Expecto itself, and has a few serious bugs (help welcome!).

[2017-06-13 23:00] donovanlange commented on #179
@adamchester: Yeah, I had actually given it a try, but had some issues.

(In fairness, not sure if it was on my side -- as we're doing some funky things in our build environment -- or if it was the fact that we were building an Exe output, or not setting the right platform, etc.  The net result was that mstest.exe was never finding any of our tests.  :()

Ultimately, I ended up turning my attentio

[2017-06-14 16:17] AnthonyLloyd commented on #179
If you do this it could be used for 2 other uses that I'd happy to help with:

1) Use the last run stats to order the parallel so big tests are started first.
2) Check if an test is taking significantly longer than the previous run.

[2017-06-17 08:32] ploeh opened #181 "Decouple assertions and tests"
Hi

Sorry to be writing like this out of the blue, but I'd been working on an F#-based test runner similar to Expecto for a while, and never really gotten anywhere with it, and then I ran into Expecto. It seems to be doing pretty much what I'd like an automated testing library to do. The fact that I never really got anywhere with my own project, while this is now almost at version 5, I can only in

[2017-06-17 08:44] haf commented on #181
Hi @ploeh and welcome to Expecto.

I can't answer for the other contributors, but for me, I want to have a dialectical discussion before I say either yes or no to architecture ideas. Please take the questions only as a quest for clearer thinking.

You say that having an assertion library is a drawback because it conflates concerns. But then surely logging of output is also a conflated concern? Esp

[2017-06-17 08:51] haf commented on #177
I'm closing this, because it's not really a bug, it's more of a suggestion. If you send a PR I can merge that. 👍

[2017-06-17 08:51] #177 closed

[2017-06-17 08:53] haf commented on #179
@AnthonyLloyd Those are great ideas. It would be nice to have these full concepts as a clear .net interface with a default implementation on-disk – but with other implementations for stateless build systems like travis, appveyor, gcloud build etc.

[2017-06-17 08:55] haf commented on #172
Done https://github.com/haf/expecto#property-based-tests

[2017-06-17 08:55] #172 closed

[2017-06-17 08:58] haf commented on #151
Upgraded albacore, doing a test build now.

[2017-06-17 09:04] haf commented on #151
<img width="782" alt="screen shot 2017-06-17 at 11 02 46" src="https://user-images.githubusercontent.com/193115/27251706-a608413c-534c-11e7-8043-00b165fef1be.png">

[2017-06-17 09:04] haf commented on #151
Ok, let's go for release v5.0 then!

[2017-06-17 09:05] #151 closed

[2017-06-18 11:59] ploeh commented on #181
I'm not sure how to respond to this. I tried cloning the repository, but I can't get it to build. I can't figure out exactly what `Expecto.Logging` does, so I can't respond to that part. If I understand #179 correctly, I'd most certainly consider it a separate issue that has no place in a core library.

The next paragraph, I can't parse...

You can often pick an attractive metaphor, but _batteries

[2017-06-19 07:18] haf commented on #181
Logging docs are here: https://github.com/haf/expecto#about-test-parallelism

...which is about creating a saver for test results. Subsequent runs will have their results compared to the persisted results.

Expecto doesn't match "It defines some extensibility points (interfaces) where you need to put your implementation.", so it's not a framework then.

That said, the pattern of interfaces is not

[2017-06-19 07:20] haf commented on #181
What do you think, contributors? Make assertions separate? @teo-tsirpanis @mnie @enricosada @ronniebarker @adamchester @mtnrbq?

[2017-06-19 07:58] adamchester commented on #181
I think keeping assertions separate is an attractive idea for all the reasons @ploeh gives. I too use Xunit with different assertion libraries. I love the fact that you don't need to justify or explain this concept to teams because people usually realise it's a deliberate feature.

I must also admit I'm looking forward to having even more colourful console output from both the assertions and the d

[2017-06-19 08:21] enricosada commented on #181
Adding difference assetions libs is a recurring topic and make sense as the test library grow and is used in more scenario ( I too like a lot unquote for assertions ).

Seems ok.
by default `open Expecto` get both (installed is `Excepto` nupkg).
to opt-out, with specific assertion lib is `open Expecto.Test` + `open Swensen.Unquote` (installed is `Expecto.Test` nupkg)

Depends. `FSharp.Core` is bat

[2017-06-19 17:02] haf commented on #181
Seems like we're all in agreement. @ploeh

[2017-06-20 09:43] teo-tsirpanis commented on #181
Well, @ploeh's idea is interesting.

Xunit has a simple foolproof package, surprisingly called `xunit` (oh, really? 😛). The users who want to _just_ use it, reference this package, and it does the dirty work for us.

Having the `Expecto` package decoupled, allows the developers to mix and match testing and asserting libraries. Some parts of Expecto are already decoupled, so why not progress this d

[2017-06-20 11:17] haf commented on #181
So @ploeh, you seem to have a green light!

[2017-06-20 14:26] ploeh commented on #181
That's great 👍 It may take me a week or two before I have time to circle back to this, but I've put it on my explicit to-do list.

[2017-06-23 00:36] jon49 opened #182 "Question 4.x vs 5.x"
I don't have VS 2017 yet and didn't want to purchase it yet. It appears 5.x doesn't work on VS 2015. Will 4.x still be supported or has it been deprecated? I brought up the library in VS Code for 5.x but the learning curve is a bit steep (I'm used to the full power of VS). If 4.x isn't supported I guess I'll try and take the plunge into VS Code, I just wanted to get this work done fast rather than

[2017-06-23 09:37] haf commented on #182
Hi,

Perhaps you were thinking filing this issue in https://github.com/adamchester/expecto-adapter?

I don't use Visual Studio.

Regards

[2017-06-23 14:49] jon49 commented on #182
OK, I'll take it that 4.x isn't being supported anymore than. I guess I'll try and learn VS Code or purchase VS 2017 (if I can talk my boss into it - I was going to wait until service pack 1 first but I guess not :-) )!

Thanks!

[2017-06-23 14:49] #182 closed

[2017-06-23 15:13] haf commented on #182
@jon49 All my current projects are on 4.x and it's only just 5 days ago that v5 was released; v4 has run successfully in VS a long time now. I don't know what version thereof, though. You could ask in the right repo about that ;)

[2017-06-23 17:42] jon49 commented on #182
Thanks for your help and all your work on all the projects! I took the plunge into VS Code and got it working nicely. Not as nice Vim emulation support but not too bad.

So, I'm working with 5.x now. I didn't know 5.x was released so recently!

[2017-07-04 00:52] jon49 opened #185 "Question. testListAsync"
I'm doing API tests with this library. For some of the items I need to call APIs to get the IDs of other items I need to test.

[As seen in this stack overflow question.](https://stackoverflow.com/questions/44834382/f-make-asyncasyncmytpe-to-asyncmytype)

But since there is no `testListAsync` I need to call `Async.RunSynchronously` this seems to cause locking issues (I'm assuming that is what they

[2017-07-04 07:42] haf commented on #185
@jon49 Yeah, don't use RunSynchronously, it will lock everything up, like you've discovered.

The easiest way to do it, is to fetch the required data before you run the `Tests.runTestsXXX` functions. That way you can generate the tests with the data available.

If that doesn't work, I have more advanced hints available, if you want them.

[2017-07-13 13:37] forki opened #186 "Expecto should fail if you use same test name twice"

[2017-07-13 19:35] rodrigovidal opened #187 "Expecto version 5 - Installation failed .net 4.5.2"
![image](https://user-images.githubusercontent.com/388081/28184281-0a2a53be-6813-11e7-81d2-febd3308a439.png)

Hi I'm getting the error above when I try to install Expecto via nuget in a .net 4.5.2 project.

Any ideas?

[2017-07-13 19:36] rodrigovidal commented on #187
Expecto 4.2.1 works fine.

[2017-07-15 08:57] haf commented on #187
It requires 4.6.1 from v5 onwards.

[2017-07-15 08:57] #187 closed

[2017-07-18 14:55] rodrigovidal commented on #187
@haf Thanks!

[2017-07-22 23:30] giuliohome opened #188 "Can't install from nuget"
I'm using Visual Studio Community edition and I'm creating a simple F# Console appl.
When I try to install Expecto from NuGet Package Manager, it fails with

`
Attempting to gather dependency information for package 'Expecto.5.0.0' with respect to project 'IllegalDataUnrepresentable', targeting '.NETFramework,Version=v4.0'
Gathering dependency information took 1,69 sec
Attempting to resolve depend

[2017-07-23 07:51] forki commented on #188
Try to use a different target framework. Expecto doesn't work for net40.
Try net462

Am 23.07.2017 1:30 vorm. schrieb "giuliohome" <notifications@github.com>:

[2017-07-23 08:44] giuliohome commented on #188
I tried also net461 and it didn't work. Now I've installed the dev pack for net462 as per your suggestion and this is the result again

[2017-07-23 09:24] forki commented on #188
Mhm then I'm out of ideas and it might be a nuget bug.
Did you try with paket?

[2017-07-23 11:19] MNie commented on #188
@giuliohome  the problem is with beta version of mono.cecil:
`Unable to find a version of 'Mono.Cecil' that is compatible with 'Expecto 5.0.0 constraint: Mono.Cecil (>= 0.10.0-beta5)'.`
If you try to install Expecto via
`Install-Package Expecto -pre`
instead of
`Install-Package Expecto`
everything should be fine.
![image](https://user-images.githubusercontent.com/7689103/28498906-64bf8298-6fa9-11e

[2017-07-23 12:06] giuliohome commented on #188
@MNie Thank you!!!

I'm still getting an exception (H`RESULT: 0x80004005 (E_FAIL)`), but I hope it's fine anyway.

[code]

[2017-07-23 12:06] #188 closed

[2017-07-23 17:54] MNie commented on #188
@giuliohome  You're welcome :)

[2017-08-05 19:00] RussBaz commented on #174
Any news on this?

I am getting this:
[code]
and then in runtime this:
[code]

My dotnet setup is:

[code]

[2017-08-07 05:25] baronfel commented on #186
What criteria were you thinking here? Case Sensitivity?

[2017-08-23 03:09] Mnuzz opened #190 "Easiest way to group test output together per test?"
Not a bug per se, more of a question. Is there an option to ensure that the test output is only printed to the console when the test is completed? And all of the output for that single test is printed together? This would help my potentially odd use case, where I have written tests that should fail but do not. It is difficult to tell which tests failed when there are many.

[2017-08-23 06:12] haf commented on #190
Solving #141 would enable this scenario.

I'm not sure if you would like to give it a go?

The idea is that, when each Expect.MethodX call instead throws something typed, we can collect that output for the test and implement printers the e.g. group all output in a tree; at the end of the round, or printed with https://github.com/logary/logary/tree/master/src/targets/Logary.Zipkin as the test progr

[2017-08-23 22:36] aggieben opened #191 "NETStandard project is missing assembly version info, so packaged assembly has no version"
This is the same problem as SuaveIO/suave#635.  PR incoming.

[2017-08-24 06:55] #191 closed

[2017-08-24 19:39] seanamos commented on #191
Any chance we can see this released as a patch? Without an assembly version, binding redirects cannot be done.

[2017-08-25 08:13] haf commented on #191
Ok, let's try to BUILD!!

Building...

[2017-08-25 08:14] haf commented on #191
Released v5.0.1 – can you please test it?

[2017-08-25 08:32] seanamos commented on #191
Thanks, will test shortly.

[2017-08-25 08:38] haf commented on #191
Thank you

[2017-08-25 09:16] seanamos commented on #191
Working!

[2017-08-25 18:34] #185 closed

[2017-08-25 18:34] haf commented on #181
Hi there @ploeh !

[2017-08-28 09:12] swlaschin opened #193 "TypeLoadException: 'GetFilters' method missing from 'BenchmarkConfig' in 'Expecto.BenchmarkDotNet"
The `IConfig` interface in BenchmarkDotNet (v0.10.9) has a method `GetFilters` that is not implemented in [Expecto.BenchmarkDotNet.fs (v5.0.1)](https://github.com/haf/expecto/blob/756863d42d55e0671b9559ebeef1c33c40450b22/Expecto.BenchmarkDotNet/Expecto.BenchmarkDotNet.fs#L40)

(`GetFilters` was added in [this commit on May 13 2017](https://github.com/dotnet/BenchmarkDotNet/commit/fe3032b2f84d62b5c

[2017-08-28 13:33] haf commented on #193
@swlaschin Yes, please PR those changes; it would be appreciated.

[2017-08-29 15:31] jon49 commented on #185
Just to finish this. It turned out that I needed to limit the number of simultaneous calls to the server. I used FSharpX that limited the calls to about 20 at a time. I did implement it so it made the calls first, but I don't think that was actually necessary. But it probably guaranteed that there wouldn't be any locking that way.

[2017-08-30 19:47] mrkaspa opened #194 "Is there a template for dotnet core 2?"

[2017-08-31 04:45] MNie commented on #194
@mrkaspa [here is](https://github.com/MNie/Expecto.Template) a template for Expecto. If it doesn't support dotnet core 2, You could report an issue [there](https://github.com/MNie/Expecto.Template/issues)

[2017-08-31 15:14] mrkaspa commented on #194
It's supported

[2017-08-31 15:14] #194 closed

[2017-09-04 17:17] haf opened #195 "Group nuget dependencies per target framework"

[2017-09-16 11:53] haf commented on #193
Merged as fixed in #193

[2017-09-16 11:53] #193 closed

[2017-09-17 15:53] ploeh commented on #181
Sorry I disappeared for so long, but I had other things to attend to, and I had to find a system that could fit all the requirements for a development environment...

I've now updated my Ruby environment, installed Albacore, installed the .NET Core SDK, and so on. To be honest, I don't find that running `build.sh` is conclusive, though. It basically just stops running after minutes of text scrolli

[2017-09-18 14:21] forki opened #199 "Create a function that returns full test name"
Inside an expecto test I want to save a Screenshot with the file name as the full test name. So I need a function that I can call from within a test that returns the full name of the test

[2017-09-19 21:12] teo-tsirpanis commented on #181
I don't know. I did not modify any test code.

On Κυρ, 17 Σεπ 2017 - 18:53 Mark Seemann <notifications@github.com> wrote:

[2017-10-06 09:40] teo-tsirpanis opened #201 "Make FsCheck tests use custom generators registered by Arb.Register."
Currently, using custom generators requires creating a custom function that injects the new `Arbitrary`s to the config. I guess it can be done easier.

[2017-10-06 09:56] AnthonyLloyd commented on #201
If you register a type with Arb.Register currently will it not just work?

[2017-10-06 09:58] teo-tsirpanis commented on #201
No. I made a generator that rises an exception and registered it. No luck.

[2017-10-06 10:08] AnthonyLloyd commented on #201
There must be some default on the real FsCheck config that we not including when we recreate it.

[2017-10-08 13:02] Alxandr opened #202 "NullReferenceException thrown during testFromAssembly"
I'm getting a nullref exception during `testFromAssembly`. Full stacktrace:

[code]

Running on dotnet core 2.0 on OSX

[2017-10-09 07:43] Rajivhost opened #203 "Installation issue"
Hi,
I got this when I try to install Expecto.FsCheck on my project.

![image](https://user-images.githubusercontent.com/3539984/31328563-ce39fbd4-accd-11e7-9fb0-0622c333ada8.png)

[2017-10-09 08:22] MNie commented on #203
@rajivhost Did You try "Install-Package expecto.fscheck -pre"?

[2017-10-09 09:54] AnthonyLloyd commented on #202
Thanks. I'll take a look later today.

Are you able to pin down anything different about the tests that cause this?

[2017-10-09 13:37] Rajivhost commented on #203
I got this with "-pre"

![image](https://user-images.githubusercontent.com/3539984/31340802-3b2688b2-acff-11e7-9e84-a84702dcead8.png)

[2017-10-09 16:28] Alxandr commented on #202
This is literally the entire thing (should probably have included in the original post):

[code]

I'm loading the assembly using `Assembly.LoadFile`, and then passing it to `Expecto.Impl.testFromAssembly`. I'm trying to create a `dotnet test` adapter for expecto.

[2017-10-10 06:44] Rajivhost commented on #203
Fixed using #188 issue.

[2017-10-10 07:53] AnthonyLloyd commented on #202
Thanks. Still looking at this...

[2017-10-10 07:54] #203 closed

[2017-10-10 07:57] AnthonyLloyd commented on #203
Great, well done.

[2017-10-10 21:14] AnthonyLloyd commented on #202
I can't seem to reproduce. I've created 2 projects and I'm doing `Assembly.LoadFile` and `Expecto.Impl.testFromAssembly`.

I'm using the current Expecto codebase. Are you using the latest release?

[2017-10-11 07:41] Alxandr commented on #202
not a minimal repo (will look at that later today), but this is the code that is failing (on my computer at least): https://github.com/YoloDev/YoloDev.Expecto.TestSdk

If you can run `dotnet test -t` in the `sample` dir without getting the same error, it might be a .NET problem on mac or somesuch.

[2017-10-11 22:19] AnthonyLloyd commented on #202
Thanks. I can reproduce with your code.

`GetValue` on the `PropertyInfo` is returning null. I've tried a few different ways of getting the value it but always comes back null.

I've also tried `System.Runtime.CompilerServices.RuntimeHelpers.RunClassConstructor(m.DeclaringType.TypeHandle)` to make sure the static constructor has been called. It makes no difference.

Still working on it...

[2017-10-12 07:49] Alxandr commented on #202
Which project needs to be changed? The `Sample` one, or the test runner? ALso, what makes it compile as an app? Cause I have to target `netcoreapp` unfortunately, and I think it would be bad requiring all test assemblies to be written with an entry point....

Also; could you consider catching this and throwing a more descriptive error if this is something common? Just something as simple as replac

[2017-10-12 08:08] AnthonyLloyd commented on #202
I think the sample needs to be either a classlib (without an [<EntryPoint>]) or a netcoreapp with an [<EntryPoint>]. Can you test to see if I'm correct on this?

I'll add catch and log an error that the test is null (which shouldn't possibly be).

Apart from that I don't know how to initialize an app that has no [<EntryPoint>] as per the SO description. If we find that I could add it too.

[2017-10-12 14:20] Alxandr commented on #202
Yeah. I think it has to be `netcoreapp` though, to get the required `runtime.json` file. The question is if I can get the F# compiler to emit a library. Probably set `<Target>Library</Target>` or something similar. I'll try it out later today if I have the time. I'll be traveling this weekend so if I can't get to it today, it might be a while.

[2017-10-12 14:59] Alxandr commented on #202
Quick testing shows that adding a entrypoint to the `sample` project works. I can't figure out how to create a library while also targeting `netcoreapp2.0` (which I have to do). So yeah, that unfortunately means that any test assembly created by expecto will have to have a entry-point :-/.

Btw; when you catch the `null` values in `getTestFromMemberInfo`, could you throw a strongly typed, well kno

[2017-10-12 16:27] AnthonyLloyd commented on #202
Will do.

If you work out how to initialize an app without putting an `[<EntryPoint>]` on let me know.

[2017-10-12 22:38] AnthonyLloyd commented on #202
Just added this. Let me know how you get on. Chase if you need this released soon.

[2017-10-17 20:34] Alxandr commented on #202
Btw; I have a (seemingly) working runner for vstest (the new one) available at https://github.com/YoloDev/YoloDev.Expecto.TestSdk. Let me know if this is something you're interested in adopting.

Also, if you're not, I'm using a bunch of "internal" (`Expect.Impl`) apis, and I don't see how I could not currently, so Expecto might need a bigger API surface if `Expecto.Impl` is not supposed to be use

[2017-10-18 08:42] MNie commented on #202
@Alxandr maybe it would be possible to merge somehow Your solution with [existing vs adapter](https://github.com/adamchester/expecto-adapter)

Also I suppose it would be worth to add a reference in an [expecto template](https://github.com/MNie/Expecto.Template) to your adapter/package, so `dotnet test` would work out of the box(?)

CC: @AnthonyLloyd

[2017-10-18 09:03] AnthonyLloyd commented on #202
@Alxandr Yes I think this would be great to add. Can you consider integrating as @MNie has suggested.

[2017-10-18 16:55] Alxandr commented on #202
To some extent, yes, but I think it would prove to be a somewhat fruitless effort as netcore does not have appdomains, which the old adapter is built heavily around (as far as I could tell). I looked quite a bit at the old adapter, and was mostly confused by a good part of it.

Also, the interfaces to implement have changed I believe, even though they have the same names. That being said, some for

[2017-10-19 05:05] MNie commented on #202
@Alxandr in a long time period it would be better to have only one adapter instead of two, where one have some functionalities and another one have some other functionalities. Maybe it would be easier to adapt some code from an "old" adapter to your adapter and then "merge" them?

I look a little bit at your code and I saw that a couple of methods were copy-pasted from an Expecto. So I don't see a

[2017-10-19 08:01] AnthonyLloyd commented on #202
Yes definitely. A clear API to help extend people extend Expecto.

Please suggest what needs to go there. I'll take a look next week also as I've seen the need to do this when writing tests for Expecto.

[2017-10-19 09:10] Alxandr commented on #202
I'd at least like to point out one thing. Allow logging to be set in the config. Currently, it's sort of pseudo ephemeral magic, based on global state, which I find horrifying. Or I'm just not understanding it at all. If you want to use magic logging, that's fine, just make a default "logger" that forwards to the magic global state one. I need to be able to provide loggers per test suite being run

[2017-10-20 06:22] MNie commented on #202
@Alxandr @AnthonyLloyd so maybe it would be worth to create another issue where we could specify what should be available and why? So any contributor/user could comment it more easily instead of reading here a bunch of comments rather not related to an API?

[2017-10-20 06:34] Alxandr commented on #202
Yep. I was thinking the same ^^

[2017-10-20 07:45] AnthonyLloyd commented on #202
Closing and opening a new issue for this. Thanks

[2017-10-20 07:45] #202 closed

[2017-10-20 07:50] AnthonyLloyd opened #204 "Expose a clear developer API to help extensions such as test adapters"
Please suggest parts of Expecto you would like to see exposed.

- [ ] Allow logger to be set in the config. (@Alxandr)
- [ ] duplicatedNames checking (or even better, common exception when it's discovered) (@Alxandr)
- [ ] A function that allows easy filtering of tests based on flatnames. This can be a predicate factory or something similar. (@Alxandr)

[2017-10-20 08:25] Alxandr commented on #204
@MNie

[2017-10-20 10:27] Alxandr commented on #204
@AnthonyLloyd could you make a checklist in the issue description that you append needed things as they are discovered in this thread? And I'll start out with repeating what I said in the other thread?

* Allow logger to be set in the config.
* duplicatedNames checking (or even better, common exception when it's discovered)
* A function that allows easy filtering of tests based on flatnames. This

[2017-10-20 16:04] Alxandr commented on #204
@AnthonyLloyd you might also actually want to create issues per each of the points (and link to them in the list), and let this be more of a planning/overview issue. That way someone could work on bite-sized PRs :)

[2017-10-21 09:11] realvictorprm commented on #193
When is the new nuget released? I cannot use the current release due to this problem :(

[2017-11-08 11:21] thinkbeforecoding commented on #201
My current way to do it is to override testProperty:
[code]

A workaround, but still better than nothing...

[2017-11-08 15:18] AnthonyLloyd commented on #201
I do this anyway with my common set of arbs and don't use Register.

I'm adding some code later I'll take a look.

[2017-11-09 14:10] haf opened #205 "Exceptions lose their stack trace"
E.g.

[code]

Now, where do I start to look?

[2017-11-10 08:42] AnthonyLloyd commented on #205
What kinds of tests are these? Do you have an example.

I'll be looking a few things including this later today/tomorrow.

[2017-11-10 08:44] AnthonyLloyd commented on #201
I've taken a quick look at FsCheck code. Its nothing to do with the config being incorrect. My guess at the moment is Arb.Register isn't being called.

Will look at this later more today/tomorrow.

[2017-11-12 10:50] AnthonyLloyd commented on #205
This is using a `FailedException` which as far as I can see is only used in FsCheck and isFasterThan tests.

I can't quite see how either of these could have generated that message.

Do you have details of the type of test and Expect called.

[2017-11-13 12:34] AnthonyLloyd commented on #201
@teo-tsirpanis @thinkbeforecoding If you take a look at the fscheck issue fscheck/FsCheck#413 I raised this gives some explanation as to why `Arb.register<_>`  doesn't work.

I could add an Expecto.register<_> and apply it to the test config but it looks like FsCheck is moving away from this kind of global state.

I think the example code above is a good solution and can be extended to give differ

[2017-11-15 09:47] haf opened #206 "sequenceEqual "char""
It's more like "item" in a sequence of arbitrary items, than a "char" in a sequence. The `equal` method does chars/strings.

[2017-11-15 09:47] #206 closed

[2017-11-15 10:08] AnthonyLloyd commented on #206
Great. I'm looking to do a release soon. There are a couple of issues waiting for an answer (one from you!).

[2017-11-15 11:07] haf commented on #206
I've unsubscribed from github messages, can you point me in the right direction?

Also, sorry for the force-push, but there was only ever history for a few minutes publicly available.

[2017-11-15 11:17] AnthonyLloyd commented on #206
@haf #205 I can't seem to see how you could get that error.

[2017-11-15 11:25] haf commented on #205
Thanks for pointing me here. It was an actual issue, but I'm closing it for now due to lack of time to debug it. I'll come back when it inevitably comes up again.

[2017-11-15 11:26] #205 closed

[2017-11-15 11:29] AnthonyLloyd commented on #205
Ok cool. I'll release this week. There is an issue on Arb.register that I'm waiting on but I don't think there is anything to do.

[2017-11-23 13:16] haf opened #208 "Copyright"
...doesn't disappear "Anthony Lloyd (formerly Henrik Feldt and cloned from Fuchu by @mausch)". You're thinking of "owners" or "maintainers" or such.

[2017-11-23 13:16] haf commented on #205
Happens for `testCaseAsync`, when using `failtestf` failures.

[2017-11-23 14:25] AnthonyLloyd commented on #208
Thanks. Should it just be a year like FsCheck (https://www.nuget.org/packages/FsCheck/3.0.0-alpha2)?

[2017-11-23 14:27] AnthonyLloyd commented on #205
Thanks will take a closer look.

[2017-11-23 14:42] haf commented on #208
Yes.

[2017-11-23 14:43] haf commented on #208
What's your NuGet username? I realised I haven't given you rights to the nuget

[2017-11-23 14:48] AnthonyLloyd commented on #208
AnthonyLloyd Thanks

I've been thinking about moving the repo further. I think it would be best to put it to an org. I'm thinking about making the readme into a docs site and think the adapters could be moved there too. There have been discussing of sharing the adapter logic.

I've created ExpectoIO for this. You can move it to there but there's no rush.

[2017-11-23 15:34] haf commented on #208
I'm not convinced of moving this to a new organisation for this repo just yet, like I said on twitter. Are you thinking of the reflection logic required for tooling?

[2017-11-23 15:39] AnthonyLloyd commented on #208
Just that the adapter writers wanted to pull out shared code and not have it in each others repos.

Don't do anything for now and we can see in the future.

[2017-11-27 20:47] #201 closed

[2017-11-27 21:59] #208 closed

[2017-12-02 00:45] anderssonjohan commented on #186
@haf Is there anything more to do here or does #198 (merged) close this?

[2017-12-02 09:19] AnthonyLloyd commented on #186
@anderssonjohan yes and 5.1.0 is released now with this in.

[2017-12-02 09:19] #186 closed

[2017-12-05 16:24] haf opened #210 "v5.1 has wrong deps"
<img width="476" alt="screen shot 2017-12-05 at 17 24 32" src="https://user-images.githubusercontent.com/193115/33617856-2e98a95e-d9e1-11e7-912c-989c56d5a676.png">

That's not a .net fw dep.

[2017-12-05 16:30] haf opened #211 "v5.1 crashes with "Found duplicated test names""
[code]

`--help` displays no way to override. I want to run my tests (they are grouped with mutexes rather than names in this case)

[2017-12-05 20:11] #210 closed

[2017-12-05 20:13] AnthonyLloyd commented on #211
Are these blocking you? If not I'll hold off to see if there are any others.

[2017-12-05 20:17] AnthonyLloyd commented on #174
This should be good now

[2017-12-05 20:17] #174 closed

[2017-12-05 20:21] AnthonyLloyd commented on #136
Closing this as Arbitrary is not recommended and won't be support in future FsCheck.

I've added an explanation to the docs and the following issues explain in detail in #201 and  fscheck/FsCheck#413.

[2017-12-05 20:21] #136 closed

[2017-12-05 21:21] #199 closed

[2017-12-05 21:23] AnthonyLloyd commented on #199
Implemented with ThreadStatic. testName() will have to be called near the start of an async test before it move to another thread.

[2017-12-06 08:10] haf commented on #211
Well, it stopped me from upgrading and I froze Expecto with `< 5.1`, but I can continue to use old versions.

[2017-12-06 08:31] AnthonyLloyd commented on #211
I understand. Its really a breaking change. I'll release tonight.

[2017-12-06 09:48] AnthonyLloyd commented on #195
I think this is how it works now.

[2017-12-06 09:48] #195 closed

[2017-12-06 09:51] AnthonyLloyd commented on #117
All good I think.

[2017-12-06 09:51] #117 closed

[2017-12-10 13:53] haf opened #212 "Cannot be built / outdated CONTRIBUTING.md"
- Mono v5.2
 - .Net Core 2.0.0

[code]

Also, there's no `build` section in the README.

Has this doc been updated? https://github.com/haf/expecto/blob/master/CONTRIBUTING.md#setup

[2017-12-10 13:56] haf commented on #181
@ploeh You'll find that it's been moved from a ruby based build now

[2017-12-10 14:03] haf opened #213 "Missing new flags for v5.1"
...in particular how to skip the unique name check.

https://github.com/haf/expecto#main-argv--how-to-run-console-apps

[2017-12-10 14:07] #213 closed

[2017-12-10 14:11] haf commented on #212
Updated the CONTRIBUTING doc... Someone who can build should take a peek at it to verify my changes.

[2017-12-10 14:31] AnthonyLloyd commented on #181
The failed focused & config tests were a line ending thing between git and windows. I've normalized all files to LF and added a .gitattributes to always convert to LF and never convert back so hopefully we won't see this again.

[2017-12-10 20:54] AnthonyLloyd commented on #212
Thanks. I think this error is down to nuget restore running. I've disabled this in the csproj. I think it may work now.

I've just updated the CONTRIBUTING.md. I'm trying to make the build flexible to versions and platforms. Let me know if this is ok for you now.

[2017-12-11 08:39] haf commented on #212
Works now, thank you.

[2017-12-11 09:01] haf commented on #212
Spoke too soon; got further this time around:

[code]

[2017-12-11 09:05] AnthonyLloyd commented on #212
You need a dotnet v1.1.x runtime installed also. I think 1.1.2 and 1.1.5 work.

[2017-12-11 09:11] haf commented on #212
Looking at CONTRIBUTING.md now...

[2017-12-11 09:12] haf commented on #212
<img width="688" alt="screen shot 2017-12-11 at 10 12 16" src="https://user-images.githubusercontent.com/193115/33823550-d043f64a-de5b-11e7-9d2f-5ac0d76a9bcc.png">

[2017-12-11 09:17] haf commented on #212
https://github.com/haf/expecto/commit/afdbc894d7b41e5b6c507e5a7917389871cefaa2 updated with link to runtime.

[2017-12-11 09:17] haf commented on #212
After installing the 2.0.0 runtime, I get this again:

[code]

[2017-12-11 09:18] haf commented on #212
And with `dotnet`:

[code]

[2017-12-11 09:21] AnthonyLloyd commented on #212
Do you have a v1.1.x runtime installed?

[2017-12-11 10:09] AnthonyLloyd commented on #212
I've just updated CONTRIBUTING.md to hopefully make this clearer.

[2017-12-11 10:43] haf commented on #212
No, I thought they were backwards compatible and downloaded v2.0.x. Trying again now.

[2017-12-11 11:04] AnthonyLloyd commented on #212
Thanks.

It would be cool if they were back comp, have to jump through hoops in travis to install it.

As an aside, do you know any way of using mono in dotnetcore? Its very clunky to need 2 versions of csproj so can build framework version on linux.

[2017-12-11 13:51] baronfel commented on #212
It's possible to use mono with the new project file format, yes: https://github.com/dotnet/netcorecli-fsc/wiki/.NET-Core-SDK-1.0#using-net-framework-as-targets-framework-the-osxunix-build-fails

Just make sure to set the environment variables as specified in that FAQ and you should be good to go. A future version of mono might remove this requirement, but for now this is what you have to do.

[2017-12-11 15:03] haf commented on #212
Works for me when I download v1.x of the runtime.

[2017-12-11 15:03] #212 closed

[2017-12-11 15:03] haf commented on #212
Thanks both @baronfel and @AnthonyLloyd for your assistance!

[2017-12-11 15:52] AnthonyLloyd commented on #212
Thanks @baronfel, will give it a go.

[2017-12-13 02:31] TheAngryByrd opened #214 "Release Expecto.BenchmarkDotnet .NETCoreApp 1.1 and .NETCoreApp 2.0"
Is it possible to release [Expecto.BenchmarkDotnet](https://www.nuget.org/packages/Expecto.BenchmarkDotNet/) for .NETCoreApp 1.1 and .NETCoreApp 2.0?

[2017-12-13 09:02] AnthonyLloyd commented on #214
I had real trouble doing this in the previous release. I'll take another look in the next few days now things settled.

[2017-12-13 13:22] TheAngryByrd commented on #214
I was curious if it was just an oversight or dotnet tooling being painful.  Let me know if there’s anything I can do to help

[2017-12-14 09:19] forki commented on #211
![image](https://user-images.githubusercontent.com/57396/33984510-2a84612c-e0b8-11e7-8d05-cb2d58195f7d.png)

there are two tests. With different names. But expecto complains. What can I do?

[2017-12-14 09:23] forki commented on #211
basically I have

    let t1 = testList "list1" [ testCase "a" (fun _ -> ()) ]
    let t2 = testList "list2" [ testCase "b" (fun _ -> ()) ]

    let all = testList "all" [ t1; t2 ]

    all
    |> runTestsWithArgs defaultConfig args

[2017-12-14 09:23] forki commented on #211
this should not fail.

[2017-12-14 09:31] AnthonyLloyd commented on #211
O no. I'll look at today/tomorrow. You can use the allow_duplicate_names config to turn it off for now in 5.1.1.

[2017-12-14 09:43] forki commented on #211
scratch that. I fucked up. It works as expecto-ed.

[2017-12-14 09:47] AnthonyLloyd commented on #211
Cool! Closing...

[2017-12-14 09:47] #211 closed

[2018-01-04 14:21] AnthonyLloyd commented on #214
Released this now.

[2018-01-04 14:21] #214 closed

[2018-01-04 19:55] ploeh opened #216 "Build failed in Visual Studio"
I tried cloning the repository in order to finally be able to take a shot at #181. When I build from the command line using `build.cmd`, it compiles and all tests pass.

When I open it in Visual Studio (Community 2017 15.5.2) and try to build it from there, however, it says that the build fails. There are no explicit errors or warnings in the Error List, but the Output window shows this:

[code]

[2018-01-05 12:42] #216 closed

[2018-01-05 12:43] AnthonyLloyd commented on #216
I think I've seen this before and applied the fix to Expecto.BenchmarkDotNet.

Could you give it another go?

[2018-01-05 15:09] ploeh commented on #216
That's a 50 % improvement 👍

[code]

Not quite there yet, though 😢

[2018-01-05 15:18] AnthonyLloyd commented on #216
sorry. Just did it for Expecto.Tests also. Please work now.

I'm looking to move to just the dotnet core projects at some point with the solution based on these. I may do this over the weekend if its easy.

[2018-01-05 17:13] ploeh commented on #216
That seems to have helped 👍 Thank you

[2018-01-06 09:42] ploeh commented on #181
I'm currently giving this a shot, but I need a little help, as I'm completely ignorant of how .NET Core works.

I've noticed that some projects have a corresponding `.netcore.fsproj` file. As far as I can tell, these project files are used to build .NET Core versions of the various packages. Looking at their contents, they're just XML files like other `fsproj` files, so clearly I could edit them b

[2018-01-07 16:08] AnthonyLloyd commented on #181
At the moment we are just making the .netcore ones match the the VS ones by hand in the XML. We are actually building all the packages from the .netcore now.

I want to move to just having only the .netcore in a VS solution. We are close to this. I'm going to have a look at it tomorrow night. This may mean VS has to be 2017 with latest updates from then on.

[2018-01-08 23:27] AnthonyLloyd commented on #181
I've added Expecto.netcore.sln which contains the netcore projects. I have the sample and C# to add.

This can be used from VS2017 and you get new style solution explorer & project reference but the best code edit experience is still VS Code.

I'd like to ditch the old sln and projs but I'm worried it may be a bit too soon. Will add the other projects and see how we go.

For now to add new code fi

[2018-01-09 06:47] ploeh commented on #181
OK, I give up on this. It's not your fault, but I spent most of yesterday fighting with all sorts of build errors. Either I have no idea what I'm doing, or the combination of F#, .NET Core, and VS 2017 is still too immature.

Anyways, I don't feel like starting over.

If you rely on me to address this issue, you can close it.

Sorry 😟

[2018-01-09 09:10] enricosada commented on #181
@AnthonyLloyd as an unwanted feedback, dont put old sdk fsproj and new fsproj in same directory. that's going to mess a bit, because they both use the `obj` dir, but in different way.
split these in other directories, and use relative paths in `Compile` items.

[2018-01-09 09:12] enricosada commented on #181
@ploeh if you need help with netcore, ping me. happy to help with that.
usually things works, maybe better in VScode/rider than VS, but that should work too.

[2018-01-09 09:55] AnthonyLloyd commented on #181
@enricosada Thanks. I may have seen some of that already.

I'm thinking of moving quickly to just the netcore ones now everything is packaged from them. Do you think this a good/bad idea? I think means only very latest VS2017 can be used.

[2018-01-09 10:32] AnthonyLloyd commented on #181
@ploeh No worries. I'll keep this open and add help wanted. Hopefully we can simplify to just netcore and VS tooling gets there soon.

[2018-01-10 09:37] AnthonyLloyd commented on #181
Did the reduction down to just dotnet core projects and one solution. Should simplify things going forward.

[2018-01-10 12:53] haf opened #217 "Can only build package on Windows"
https://github.com/haf/expecto/blob/master/build.fsx#L117

Right?

Can we remove this check?

[2018-01-10 14:46] AnthonyLloyd commented on #217
Yes, fixed it. Thanks for this.

[2018-01-10 14:46] #217 closed

[2018-01-18 12:07] Alxandr commented on #211
This patch fix was a breaking change that makes the TestSdk integration no longer work. Updating the configuration object will cause anyone who creates their own configuration instead of just using the `defaultConfig` to break.

[2018-01-18 12:28] haf commented on #211
Perhaps we should introduce an interface that the record implements? After all, keeping binary compatibility would be a very important thing to anything depending on this project.

[2018-01-18 12:48] Alxandr commented on #211
Or hide it's impelementation; only exposing factory/accessors/wither functions. Maybe even lenses could work. Normally, adding properties to an object isn't a problem; but the issue with records is that doing so also adds new parameters to the constructor. We could go with something like:

[code]

It's obviously much more verbose, but still; it would make it much easier to keep binary compatibilit

[2018-01-18 13:06] AnthonyLloyd commented on #211
Can't we do what FAKE and other projects do and just change things we know about off defaultConfig?

[code]

[2018-01-18 13:18] Alxandr commented on #211
I don't think that works actually (though not sure). Cause it still compiles it down to invoking either the constructor, or pre-defined "with" methods as far as I know.

See `doStuff` method here: https://sharplab.io/#v2:DYLgZgzgNAJiDUAfALgTwA4FMAEBhA9gHZjYC82A3gLABQ22hAjCNhMgE4CWhA5rfYQBMLbsmwBfftlrBMYmJjABDAK7BkBYmUoNG2gERh8+fQG4Gg7YwAME2jLnYY+AMrIVYEgAoAlNqmyYgC2qJok5BROiqrqYdgA7pzIABYW2gAslpJ0

[2018-01-18 13:40] AnthonyLloyd commented on #211
I guess adding to the config is currently a breaking change and needs a major version.

It looks like we really need to resolve the developer API.

We have #204. There is also adamchester/expecto-adapter#37 which I think needs to be considered at the same time.

[2018-01-22 14:46] AnthonyLloyd commented on #204
adamchester/expecto-adapter#37

One question I have is would an addition to the config be considered a breaking change for normal Expecto users?

If not I'd suggest an SDK without an Expecto dependency which uses the test executables CLI. Then backward compatibility would be easier to manage, and also the target framework issues for dotnet core can more easily be solved.

[2018-01-22 14:53] Alxandr commented on #204
I would say config is part of the public api, thus it's considered a breaking change.

[code]

This is in the first sample on the readme, and it clearly passes in a config object.

[2018-01-22 15:32] AnthonyLloyd commented on #204
It would only break if the user had created the config without using the defaultConfig and they updated the Expecto version themselves. I don't think there is the same dependency tree version problem.

[2018-01-22 18:55] Alxandr commented on #204
It would break off they in any way modified the default config. If this is what you are after, you should deprecate any api that accepts a config object imho

[2018-01-22 19:42] AnthonyLloyd commented on #204
No, I don't think so.

You compile and include Expecto with your executable. If you upgraded Expecto AND you didn't use `{ defaultConfig with ... }` you would have a build error for additions. I can't think of a way that Expecto gets switched out under you for a new version (apart from Test.Adapter currently).

[2018-01-23 08:30] Alxandr commented on #204
The question would then be; does semver dictate that you should be able to switch out the libraries pre- or post- compilation? Cause if it's the later, then this is a breaking change according to semver. You are forcing a re-compile to use your new version basically.

At this point, I can't say for certain what is "correct". We should probably get some more voices on the issue.

[2018-01-23 10:27] AnthonyLloyd commented on #204
Agreed. Its bending the rules but I can't see how it would bite at this point.

[2018-01-23 11:13] Alxandr commented on #204
It does mean that anything that has a dependency on `expecto` will break. For instance, if you create a `MyOrg.TestCommon` which creates the expecto config, it breaks.

[2018-01-23 11:44] haf commented on #204
We should not change this Record without first changing all usages to an interface.

[2018-01-23 11:49] AnthonyLloyd commented on #204
How does that work? I can't quite picture it.

[2018-01-23 11:52] haf commented on #204
[code]

[2018-01-23 11:58] AnthonyLloyd commented on #204
Won't that still break in the case of adding a field?

[2018-01-23 12:19] Alxandr commented on #204
Yes. The only way to make it non-breaking is to make the properties mutable I would think (which you definitely don't want for a "default" config). Or make it opaque with explicit setters (or as suggested earlier, lenses):

[code]

The issue isn't the added property. It's the modified constructor.

[2018-01-23 12:34] AnthonyLloyd commented on #204
Or make it a DU?

[2018-01-23 13:38] Alxandr commented on #204
Yep. Not entirely sure how that would look though.

[2018-01-24 17:27] AnthonyLloyd commented on #204
[code]

and the API accepts a ExpectoConfig list

the internal config would be constructed with the last matching in the list or a default.

[2018-01-24 17:31] AnthonyLloyd commented on #204
We actually have this for the CLI arguments:

https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L1443

[2018-01-24 18:55] haf commented on #204
IAFAIK adding interface members is non-breaking. The Record is internal. @AnthonyLloyd @Alxandr

[2018-01-25 15:18] AnthonyLloyd commented on #204
What happens when a member is added and isn't implemented in the current code?

[2018-01-25 15:37] haf commented on #204
True; you can get MissingMethodException; but rebinding works as long as that method is not invoked AFAIK. It's not the same as the record that breaks completely when you add a field. That said; perhaps the DU-case variant you suggested is the better alternative.

[2018-01-27 11:35] AnthonyLloyd commented on #204
@adamchester @haf @Alxandr Can I ask if you think it could make sense to use the CLI for the Adapter SDK? The reason for thinking of doing this is to dodge all the issues with platform and other config selection that xunit now has. We could pick up the test exes/netcoreapps and run them with test list requests and filtered runs etc. An SDK around doing this could help.

[2018-01-27 12:29] haf commented on #204
You could automate the CLI by allowing for a JSON input-output, command/event per line?

[2018-01-28 11:20] Alxandr commented on #204
This is basically what the MS Test SDK is supposed to give you though. A standardised way of doing test-discoverey and execution, including configuration (using XML of all things, I believe) etc. That being said, running the tests out of proc can have both advantages and disadvantages. In that regard, expecto is kind of weird in that it has both test creation and execution in the same library as o

[2018-01-29 10:23] AnthonyLloyd commented on #204
@MNie I forgot to add you in to this question, sorry.

@Alxandr thank this is great. I'm hoping Expecto isn't only weird but we can leverage this position and have a simpler solution than xunit etc for VS Integration.

The biggest issue I see from your list is debugging. I have no knowledge on how to ensure this works.
The others I could see an `Expecto.SDK` package providing easily.

How do we ge

[2018-01-29 11:21] Alxandr commented on #204
I would like to say that debugging is *vitally important*, and while forcing people to choose between running their tests in VS test runner or getting debugging (through running the test assembly directly) is a very typically F# thing to do, it is also a very good way to make people not want to adapt.

[2018-01-31 14:21] AnthonyLloyd commented on #204
Sure.

I have some time to work on this. I'm willing to build the `Expecto.SDK` package in the Expecto repo that doesn't depend on `Expecto` but can resolve the test executables, list tests, run lists of tests and return typed results (or a command line that would for debug) etc.

If we could work out what is required for debug and someone build the [VSTest](https://github.com/microsoft/vstest/) a

[2018-02-01 08:59] Alxandr commented on #204
As said; I think the best way forward *if* we can get debugging out of proc, is to modify the `runTestsWithArgs` (or whatever it's called) so that it can do everything required by the SDK. That way, the SDK would just be a really thin helper to executing the test assembly (it would take an option object and convert it into cmd line args, and that's about it).

But first, I would investigate debugg

[2018-02-02 10:10] MNie commented on #204
@Alxandr @AnthonyLloyd @adamchester
Maybe its not related exactly to Expecto.Sdk, but we should also think about merging [Expecto.TestAdapter](https://github.com/adamchester/expecto-adapter) and [Expecto.TestSdk](https://github.com/YoloDev/YoloDev.Expecto.TestSdk). Since we shouldn't have situation that we have 2 test adapters, 1 is commonly used in .net framework related solutions, and the second

[2018-02-02 10:13] adamchester commented on #204
@mnie sounds reasonable to me

[2018-02-02 11:05] Alxandr commented on #204
Yeah, I don't mind either. I just had a need for testing using .NET CLI, and the existing adapter didn't support it, so I buildt my own, purely for my own sake. If someone wants to take it off my hands, or merge the other one into mine I'm fine with it.

[2018-02-02 16:09] voronoipotato opened #219 "Codecov integration"
Hey are there any plans to integrate with codecov? Should this be done by Fake? It seems like a great way to evangelize expecto and F# testing in general.

[2018-02-02 17:46] baronfel commented on #219
We'd need to add support for expecto as an OpenCover Strategy, like others do here: https://github.com/OpenCover/opencover/tree/master/main/OpenCover.Extensions/Strategy

[2018-02-03 12:19] AnthonyLloyd commented on #219
No plans but I would be very open to it. I'm not sure what would be required on the Expecto side.

[2018-02-05 16:26] haf opened #220 "Consider not downloading .net core in build.fsx"
Is it really needed?

[2018-02-05 16:27] forki commented on #220
What's the issue? It should not download if you have it already

[2018-02-05 16:42] haf commented on #220
I have a later version which should work just as well, so it's not necessary to download it.

[2018-02-05 16:43] forki commented on #220
Unfortunately that's not really true. They are not always backwards compatible AFAIK

[2018-02-05 16:47] haf commented on #220
Ah, of course.

[2018-02-05 16:47] #220 closed

[2018-02-06 03:44] voronoipotato commented on #219
I don't know if this is helpful but...

## TrackExpectoTestMethods
[code]

https://github.com/OpenCover/opencover/blob/master/main/OpenCover.Extensions/RegisterStrategiesModule.cs

need to add

[code]

https://github.com/OpenCover/opencover/blob/master/main/OpenCover.Test/Extensions/RegisterStrategiesModuleTests.cs

and add
[code]

and then some version of this?

https://github.com/OpenCover/openc

[2018-02-06 03:50] baronfel commented on #219
@voronoipotato This is a good initial start!

The hard part about extending codevoc to understand expecto is that expecto has 2 modes of operation:
* attribute-based
* code-based

What I mean by this is that expecto allows you to explicitly construct a list of TestCases and run them, as opposed to the reflection Attribute-based detection methods.

So this method would cover the first way, but not

[2018-02-06 03:51] voronoipotato commented on #219
Cool so by some contrived definition we're halfway done :P

[2018-02-06 04:01] voronoipotato commented on #219
It seems like every test list is always under a test attribute in the samples. Is it possible to use a testlist without a test attribute?

[2018-02-06 04:05] baronfel commented on #219
The samples that use attributes is the runner via 'runTestsInAssembly', which uses reflection. There's also runTests, which takes a text value and runs it. This is used in the second case I mention above.

[2018-02-06 04:37] voronoipotato commented on #219
OpenCover says they only run on windows. :(

[2018-02-06 04:59] voronoipotato commented on #219
I guess there's https://github.com/SteveGilham/altcover which does work on linux, but it's also run by a single superman, which is somewhat concerning.

[2018-02-06 17:56] haf commented on #219
We need anything added to core expecto to work cross platform. So if you have a super-man, then let's use his super-work ;)

May I suggest an alternative? Simpler even.

Instead of `open Expecto` at the top, we do `open Expecto.WithCoverage` and that has a 1:1 mapping of the Expecto-module's API, but with callbacks into the coverage tracking framework; that way, there's no need to use reflection a

[2018-02-06 18:00] baronfel commented on #219
@haf as far as I'm aware everything we've been discussing here is in the context of changes to external tools like openCover or altcover.  These tools run your test runner for you after discovering the test methods through various means (like reflection), and these discovery methods are what need to be implemented per-adapter.

So I don't think we'll need to change much in expecto itself, rather j

[2018-02-06 18:01] haf commented on #219
The problem you're trying to find a decidable solution to is Gödel's Halting Problem, and as such you can't solve it by reflection (decidedly).

[2018-02-06 18:20] haf commented on #219
That said, you could do what VSCode does and scan the IL with Cecil; might be able to pick his code straight from the source.

[2018-02-06 19:27] AnthonyLloyd commented on #219
Can I check what you need from the test functions. They can be parameterised in interesting ways so that may be a factor.

I don't fully know how Codecov works.

Do you need to know the each test function and the code it calls? Then you instrument all that code?

I thinking there could be a way to get the information you need from calling the test exe.

[2018-02-06 23:15] voronoipotato commented on #219
### Disclaimer I don't know what I'm doing
Codecov consumes an xml report of what lines of what files were hit by running the testing framework.

OpenCov uses reflection, figures out what tests are run and then tries to figure out what lines of code those tests call and what paths they went down using the PDB.

So basically instead of trying to figure out all the possible paths a test could go, it

[2018-02-06 23:23] voronoipotato commented on #219
https://www.npmjs.com/package/codecov.io

Seems to say they accept `lcov, gcov or standardized json data format`

[2018-02-06 23:35] AnthonyLloyd commented on #219
Sorry I don't quite understand. Does it instrument the code and run the tests to observe the paths? Or does it work it all out from just reflection?

If it instruments the code then the exe could list the tests and then they could be run one by one recording in the paths.

[2018-02-07 00:12] voronoipotato commented on #219
Opencov as I understand it instruments the code.

[2018-02-08 14:05] AnthonyLloyd commented on #219
Then it may be possible that this can be done using a new `Expecto.SDK` we are thinking of building.

Something like the following maybe:
1) `Expecto.SDK` is called to request a list of test assemblies from a root directory.
2) The assemblies are instrumented either in place or not.
3) `Expecto.SDK` is called to request the list of tests in an assembly.
4) For each test `Expecto.SDK` is called to

[2018-02-23 10:59] Vidarls opened #221 "How to use use the fscheck "Observing Test Case Distribution" features with expecto"
I have been trying to use the fscheck features for observing test case distribution with expecto, and I can't seem to get any distribution output.

Is this a feature that is not supported, or am I doing-it-wrong(tm)

ref: https://fscheck.github.io/FsCheck/Properties.html#Observing-Test-Case-Distribution

This works as expected:

[code]

This does not give any distribution output:

[code]

[2018-02-27 04:45] rmunn opened #223 "Request: config option to pick name for logging (not hardcoded to "Expecto")"
Currently when [Expecto sets up logging](https://github.com/haf/expecto/blob/dd476c4066b0e472a682598af72fd7f2d4ad6e86/Expecto/Expecto.fs#L415), it uses the name "Expecto" (hardcoded) for the logger name, so that any log output from Expecto has `<Expecto>` printed at the end. If you run several instances of Expecto at once, it can become unclear which log message comes from which instance.

The use

[2018-02-27 09:05] AnthonyLloyd commented on #223
Yes this looks to be a reasonably easy change to put in a command-line flag and hook it up to the `Log.create`. The only issue I see is adding command line flags at the moment has to be coordinated with the `Expecto` test adapter projects.

If you go ahead and submit a PR I will coordinate this. Alternatively I can do do this next week sometime (currently working on a blog).

[2018-02-28 00:51] TheAngryByrd commented on #214
Circling back to this, are the docs correct for this? https://github.com/haf/expecto#benchmarkdotnet-usage
testList needs to take a `Test` but benchmark doesn't return one.

[2018-02-28 09:11] AnthonyLloyd commented on #214
Yes the docs are out of date. It need to be put in a test:

https://github.com/haf/expecto/blob/master/Expecto.BenchmarkDotNet/Expecto.BenchmarkDotNet.fs#L8

I'll update, thanks

[2018-02-28 10:34] rmunn commented on #223
I'll take a shot at this. The one thing that might be tricky is that `Impl.logger` is referenced by some static methods, so it's a little tricky to pass it around as a value. I might punt on trying to do it in a "purely functional" way, and just make `logger` a mutable variable of the `Impl` module, and then if a `--log-name Foo` argument gets passed on the command line, replace the `logger` varia

[2018-02-28 11:09] AnthonyLloyd commented on #223
I think that's fine for now. Please go ahead.

[2018-02-28 15:27] rmunn commented on #223
If you can think of a better parameter help text, or a better name than `--log-name`, please go ahead and change it. That's just the best name that occurred to me in five minutes of thinking, and I'm not attached to it or anything. (I usually prefer to get feedback from others on things like command-line parameters, and I couldn't this time). It's a *pretty* good name, but it's not necessarily the

[2018-03-05 19:47] AnthonyLloyd commented on #214
This is corrected now.

[2018-03-05 20:47] AnthonyLloyd commented on #221
I don't think its supported at the moment. I'm trying to work out if its just ignore a string function in the config or runner or if its something more fundamental.

Will need to look at this when I have a little more time.

[2018-03-05 21:44] AnthonyLloyd commented on #223
Release in 6.0.0. Thanks

[2018-03-05 21:44] #223 closed

[2018-03-05 21:49] #10 closed

[2018-03-05 21:50] #69 closed

[2018-03-06 11:48] Vidarls commented on #221
Is it possible the same mechanism might be used for labels too.  (https://fscheck.github.io/FsCheck/Properties.html#And-Or-and-Labels)
I have been unable to get label output when using expecto.

[2018-03-06 11:51] AnthonyLloyd commented on #221
Yes. I'll look at this a bit more tonight.

[2018-03-06 21:31] AnthonyLloyd commented on #221
I know how this is working now. I've put in stamps and label for failing tests. I will need to have a think about if it makes sense to do this for passing tests.

https://github.com/haf/expecto/commit/eef3f2ea91c193a2612d18c6c4d494933f1e9337

[2018-03-06 23:27] TheAngryByrd opened #225 "Expecto.BenchmarkDotNet TypeLoadException get_ArtifactsPath"
Taking the https://github.com/haf/expecto#benchmarkdotnet-usage example I'm running into an exception:

`dotnet run -f netcoreapp2.0 -c Release`

[code]

[2018-03-06 23:43] AnthonyLloyd commented on #225
Hmm. I was running into strange errors with benchmarkdotnet and it was the main reason I split it out as a dependency. I'll have to set this up as a test and see what I can do.

[2018-03-07 23:31] AnthonyLloyd commented on #225
I've added a test project for this. It's currently working for net461 & netcoreapp2.0 but not netcoreapp1.1. Also plenty of warnings about Microsoft.NETCore.App.

Will continue.

[2018-03-09 15:52] TheAngryByrd opened #226 "Expecto.Hopac"
I've extracted out some helpers for handling hopac jobs with expecto from some of our production code into this repo:
https://github.com/TheAngryByrd/Expecto.Hopac/blob/master/src/Expecto.Hopac/Expecto.Hopac.fs

However since Expecto has the name reserved on nuget  (for good reason) I can't publish it.  Would you consider accepting a PR with a separate project that adds these helpers?

Thanks!

[2018-03-09 19:00] drivehappy opened #227 "Argu 5.1.0 update causes MissingMethodException"
After updating to the latest version of Argu (5.1.0) I'm receiving the following with Expecto 6.0.0:

`System.MissingMethodException: 'Method not found: 'Void Argu.ArgumentParser`1..ctor(Microsoft.FSharp.Core.FSharpOption`1<System.String>, Microsoft.FSharp.Core.FSharpOption`1<System.String>, Microsoft.FSharp.Core.FSharpOption`1<Int32>, Microsoft.FSharp.Core.FSharpOption`1<Argu.IExiter>)'.'`

[2018-03-10 00:16] AnthonyLloyd commented on #227
I think we need to upgrade Argu, we are on 3.7. I will look into this.

I guess you are not using paket which would tell you your dependencies?

[2018-03-10 00:59] kellerd commented on #227
Hi guys.

Seems Expecto lists >= 3.7 for Argu, so paket picks the most recent version.  I'm running a netcoreapp2.0

[code]

[code]

[2018-03-10 09:17] AnthonyLloyd commented on #226
Yes that sounds good. Thanks.

I'm planning another release in the week to upgrade argu. It could go with that if ready.

[2018-03-10 09:55] forki commented on #227
Yes look at paket's build - ilrepack works well for this case

[2018-03-10 11:50] haf commented on #227
The dependency should be ~> MAJOR, so that it would have ended up like this: `Argu >= 3.7 && < 4`.

+1 for upgrading.

Be wary of cross-platform issues with ilrepack. I've never gotten it to work cross mono/.net and now there's even .net core to consider. Keep it simple and just release an upgrade.

[2018-03-10 11:57] halcwb opened #228 "Could not load file or assembly 'FSharp.Core, Version=4.4.3.0"
I used the below steps to setup my project:

1. Use `dotnet new sln -n GenFormService` to create the solution file. This will create a solution file with the name `GenFormService.sln`.
2. Add a new project using `dotnet new classlib -lang F# -o src/Informedica.GenUtils.Lib -n Informedica.GenUtils.Lib`. This will add a project in the `src/Informedica.GenUtils.Lib` folder with the project file: `Inf

[2018-03-10 13:15] haf commented on #228
/cc @enricosada @dsyme — What is the up-to-date guidance for versioning libraries like this, compiled to multiple environments, such as .Net Core and mono?

[2018-03-10 14:01] haf commented on #5
This could probably be done with https://github.com/kurtschelfthout/FsLogic and forwards-inference over protocol definitions as well.

[2018-03-10 14:20] #181 closed

[2018-03-10 14:21] haf commented on #178
@donovanlange Closing due to lack of response from issue author. This is not a super-important bug for me; PR could also be to choose what textwriter to output into; but we in fact already have this configurable via our printers.

[2018-03-10 14:21] #178 closed

[2018-03-10 14:29] haf opened #229 "Passing cancellation token ^ ACK-reply-ch-mechanism to run functions"
It would be nice to be able to abort a test run and have graceful shutdown. Items to consider:

## Support for cancelling tests in progress:

[code]

## Support for cancelling async tests:

Also see https://stackoverflow.com/questions/27021497/f-how-asynct-cancellation-works#comment42570010_27022315

[code]

## How to invoke it from Program.fs

[code]

Similarly how to invoke individual tests (via

[2018-03-10 14:31] haf commented on #142
@jackfoxy Would you like to send a PR with this functionality?

[2018-03-10 14:53] haf commented on #124
Now that https://github.com/fscheck/FsCheck/pull/351#issuecomment-327929291 has been merged we should use it in Expecto. @kurtschelfthout I wasn't able to find any docs to link to? How is this feature used?

[2018-03-10 14:56] haf opened #230 "Sniff console colour and adapt if it's black"
<img width="1217" alt="screen shot 2018-03-10 at 15 55 45" src="https://user-images.githubusercontent.com/193115/37243546-9947d65a-247b-11e8-8f5a-faeb3d8243a6.png">

Could be pushed to the Facade in fact.

[2018-03-10 18:40] halcwb commented on #228
When I try the setup using paket I avoid the FSharp.Core version issue, but I get a:

[2018-03-10 18:43] haf commented on #228
@halcwb Just ref `~> 4` of argu.

[2018-03-10 19:04] halcwb commented on #228
Did that (although isn't this a transitive dependency resolved by paket?). Added it to the paket.dependencies and to the test project paket.references files. Cleaned the project. But still getting the error message.

[2018-03-10 19:28] haf commented on #228
Ok, = 3.7 then, that's what the ref of expecto is at. See #227

[2018-03-10 19:30] halcwb commented on #228
Sorry, I forget to restrict Argu to ~> 4. Adding that to the paket.dependencies file solved the issue. Thanks a lot!! I was getting quit frustrated after almost a week of trial and error.

[2018-03-10 19:34] haf commented on #228
I think your repro shows a real issue for users like yourself, so I'd like to keep this issue open until we have an answer from one of the powers that be; on how to version F# libraries' usage of F# Core.

[2018-03-10 21:31] haf commented on #227
@kellerd @forki @drivehappy It would be nice with a PR that is less strict on the Argu dependency :)

@forki Roger that.

[2018-03-11 16:29] kurtschelfthout commented on #124
It's only merged to FsCheck 3. If you take a dependency on that, please use exact versioning constraints, as it's currently in alpha and I do expect the API to change significantly.

To use, run a property that returns `Task` or `Async`.

[2018-03-11 19:41] jackfoxy commented on #142
I will put it on my list. Maybe several weeks because of my schedule. @haf

[2018-03-12 21:14] AnthonyLloyd commented on #227
Argu has dropped netstandard1.6. Does this mean Expecto has to?

[2018-03-12 21:57] haf commented on #227
I think it's nicer to have Argu up to date as that will allow us to get its improvements; like env var parsers out of the box and reflected definitions.

I'm still not in favour of ILMerging it as Expecto should be possible to build libs out of; e.g. have a look at https://github.com/haf/canopy/blob/waiting/tests/ParallelUsage/Program.fs#L10 — or would ILMerging allow callers to interact with Argu

[2018-03-12 22:51] #225 closed

[2018-03-13 11:00] AnthonyLloyd commented on #227
Are people tending to drop netstandard1.6 support? I'm not sure if its used.

[2018-03-13 11:01] forki commented on #227
nuke it ;-)

[2018-03-13 17:31] AnthonyLloyd commented on #227
Another major version! Will release this tonight,

[2018-03-13 23:26] AnthonyLloyd commented on #227
Released upgrade to Argu 5.1.0 in Expecto v7.0.0. Will ilrepack if this comes up again in the future.

[2018-03-13 23:26] #227 closed

[2018-03-13 23:28] AnthonyLloyd commented on #221
Just released this in Expecto v7.0.0. Let me know how it looks for you. I'll keep this open a while.

[2018-03-13 23:30] AnthonyLloyd commented on #228
Released upgrade of Argu to 5.1 in Expecto v7.0.0. Please let me know how works for you. Will close this soonish.

[2018-03-14 09:49] halcwb opened #232 "Keep running into version problems"
I added a new test project to my solution then I got:

Cleaning the whole solution, deleting and reinstalling using paket nothing seems to help?? This is weird as I don't understand why there is a downgrade of expecto?

This is the relevant paket.lock file part:

[code]

[2018-03-14 09:57] halcwb commented on #232
Ok, I got it, I use `dotnet new expecto` to install the test project. Only this refers to an old expecto version that conflicts with the current version installed by paket.

[2018-03-14 10:03] AnthonyLloyd commented on #232
Cool. So there's no error and I can close? Else reopen, thanks.

[2018-03-14 10:04] haf commented on #232
Is this with @MNie 's template?

[2018-03-14 10:05] AnthonyLloyd commented on #232
@Mnie is looking to update these later today I think.

[2018-03-14 11:10] AnthonyLloyd commented on #226
@TheAngryByrd the build has sometimes has the following error. Could this be coming from the hopac tasks?

Would also be good to get rid of the server GC warning. I tried to switch it to server GC but then it started causing some errors in my deadlock tests (memory I think) and didn't even stop the warning for net461.

[code]

[2018-03-14 13:09] haf commented on #226
It's on this line:

https://github.com/haf/expecto/blob/master/Expecto/Expecto.fs#L261

I'd say that's a race condition in Expecto and not Hopac; `mb.Post` may happen after `ct.Cancel()` has been called. You could check `ct.IsCancellationRequested` before the `Post` in the `finally` statement, I suppose.

[2018-03-14 13:12] TheAngryByrd commented on #226
Hmm .I'll take a look tonight. Any other details you can give me like Windows, full or core, Linux mono or core?

Maybe ill trying moving to a separate test project

[2018-03-14 13:23] AnthonyLloyd commented on #226
I've not seen it before ever, but it may have just unearthed a problem.

Its currently failing in travis but not appveyor:
https://travis-ci.org/haf/expecto/jobs/353101190

[2018-03-14 14:06] MNie commented on #232
@halcwb [Template relased](https://github.com/MNie/Expecto.Template/releases/tag/8.0.0) sorry for inconvenience!

[2018-03-14 14:44] halcwb commented on #232
No problems, thanks for the quick response!

[2018-03-14 14:44] #232 closed

[2018-03-14 15:41] TheAngryByrd commented on #226
I do wonder if the constrained environment also doesn't help.  Travis usually has only 2 cores so maybe trying a ubuntu vm with 2 cores would produce this.

[2018-03-15 00:09] AnthonyLloyd commented on #226
Thanks both of you. I'm getting to the bottom of this. I think there may be a couple  of issues that have just decided to show up now.

[2018-03-15 12:11] #226 closed

[2018-03-15 12:12] #228 closed

[2018-03-19 14:13] TheAngryByrd commented on #219
I started playing with minicover with expecto and they added some more fsharp support here: https://github.com/lucaslorentz/minicover/pull/56

The branch I was playing with: https://github.com/TheAngryByrd/Hopac.Websockets/tree/codecov

To run it call ./codecov.sh

It ends up generating a console report like:

[code]

And a html report:

![coverage](https://user-images.githubusercontent.com/149004

[2018-03-21 01:27] TheAngryByrd commented on #219
I've now been able to do something similar with altcover and expecto

[code]

Feeding the https://github.com/danielpalme/ReportGenerator (works with mono) I got a decent report

<img width="1301" alt="screen shot 2018-03-20 at 9 21 28 pm" src="https://user-images.githubusercontent.com/1490044/37690963-d66d3e6a-2c84-11e8-80f9-4cf5d2e9b150.png">

One thing I've noticed is it slows my tests way down.

[2018-03-23 07:31] haf commented on #229
What do you think @AnthonyLloyd ?

[2018-03-23 09:08] AnthonyLloyd commented on #229
I think this could be quite easy. The only unknown I think is making sure it stops the output reporting. In stress testing at the moment it would assume a stress testing timeout.

I can take a look in the next week or so. I've just refactored how the tests are run with the CancellationToken which seems to make them much better behaved.

[2018-04-01 18:28] jackfoxy opened #237 ".gitignore"
Would you accept a PR to add paket-files to .gitignore?

Running the build script updates paket-files/logary/logary/src/Logary.Facade/Facade.fs, which clutters the git status.

[2018-04-01 18:28] haf commented on #237
Yes

[2018-04-02 15:27] AnthonyLloyd commented on #237
I've had someone else ask why it gets added.

I'd like it that this wasn't the case and also you can build/explore the projects straight from cloning. I think that means we need to pin this file in paket.

[2018-04-02 15:44] jackfoxy commented on #237
@AnthonyLloyd  I just cloned master to a new folder and built with the build script, no problem.

[2018-04-02 15:48] AnthonyLloyd commented on #237
I mean dotnet build without running the build script. So you can just clone and explore the code.

[2018-04-02 16:12] jackfoxy commented on #237
You  might want someone who does this as part of their regular workflow test that. I'm still old school when it comes to builds.

[2018-04-02 16:19] AnthonyLloyd commented on #237
Thanks. I think its a whitespace issue. It's the same with AssemblyInfo. I've still never found the perfect git settings for this.

[2018-04-02 16:24] jackfoxy commented on #237
My experience was the build script made substantive changes to this file. It was not just line endings. I'm pretty sure this change will also work for dotnet commands.

[2018-04-05 07:10] haf opened #239 "Safe handle has been closed crash"
https://travis-ci.org/logary/logary/jobs/362324984#L1446

[code]

[2018-04-05 08:39] AnthonyLloyd commented on #239
I've rewritten these methods. I will release in the next day or so. Just trying to sort out the line endings changing on build.cmd.

[2018-04-07 08:10] haf commented on #239
Another crash https://ci.appveyor.com/project/haf/logary/build/1.0.1062/job/ha1o4e8j60unuto9#L1055

[2018-04-07 21:39] AnthonyLloyd commented on #239
Released in v7.0.1

[2018-04-07 21:39] #239 closed

[2018-04-07 21:40] AnthonyLloyd commented on #237
I've fixed up the line ending changes on build so it results in no changes now.

[2018-04-07 21:40] #237 closed

[2018-04-07 21:43] #5 closed

[2018-04-07 21:43] #6 closed

[2018-04-08 07:48] #221 closed

[2018-04-10 08:17] AnthonyLloyd opened #240 "Load testing"
Just thinking that given that `Expecto` is async by default and very flexible in terms of organizing test trees and has stress testing, that some kind of helpers for load testing could be created.

I kind of use stress testing in this way sometimes. Roughly monitor how many tests can be run in 1 minute over time.

This could be managing the creation of a 'server' and stress test running a number o

[2018-04-10 09:38] haf commented on #240
We could use the new reservoir/snapshot and cep capabilities of Logary. This would be a great method for testing e.g. Suave servers.

[2018-04-10 20:11] AnthonyLloyd commented on #229
I think this is almost done apart from your top code which needs `testCaseWithCancel`. I don't think this should be too difficult. Will take a look soon.

[2018-04-10 20:29] AnthonyLloyd commented on #240
@forki Do you have an ideas on requirements of how this would look to be most useful or know anyone that does?

[2018-04-12 21:20] vilinski opened #241 "C# example find no tests in assembly"
Didn't tried expecto with C# before. Surely I do something wrong.

I have created a project with `dotnet new console` and added the C# example [Tests.cs](https://github.com/haf/expecto/blob/master/Expecto.Tests.CSharp/Tests.cs).
But it doesn't prints anything out by `dotnet run` and lists no tests by `botnet run --list-tests`.

this is my solution for reproduction.
[expectocs.zip](https://github.c

[2018-04-13 07:01] FoggyFinder commented on #241
I guess it's searching only in public classes, so you have to change the line:

[code]

to

[code]

[2018-04-13 17:51] vilinski commented on #241
Yes, thanks!
Turns out both the class and the test field should be public.
Visual Studio normally creates `class Program`...
Sorry for the noise. :)

[2018-04-13 17:51] #241 closed

[2018-04-17 09:15] haf commented on #229
Nice, how is it used?

[2018-04-17 11:07] AnthonyLloyd commented on #229
New methods to run test e.g. `runTestsWithArgsAndCancel` that each take a `CancellationToken` as the first parameter.

It all nicely fits in with how the internal Async methods need to take a `CancellationToken` so a good generalisation.

[2018-04-20 13:10] haf opened #242 "Test coverage optimisation"
As your software grows, it becomes harder to keep track of which tests are needed to keep the test suite focused. With the new coverage #219 coming online, we could make it convenient to apply a test coverage-optimisation model such as:

 - http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.299.5124&rep=rep1&type=pdf
 - https://ieeexplore.ieee.org/document/7102604/

 - https://blog.acolyer.o

[2018-04-21 12:32] haf opened #243 "Guide/discussion of model-based testing of APIs/servers"
- http://www.prowessproject.eu/wp-content/uploads/2015/06/jsongen-tutorial.pdf

[2018-05-14 13:14] haf opened #246 "Running multiple benchmarks hangs"
See https://github.com/dotnet/BenchmarkDotNet/issues/755 for details

Not sure on if this is in Expecto or in BenchmarkDotnet.

[2018-05-14 13:26] haf commented on #246
I don't think so; if you look towards the end of Program.fs you can see I'm running it sequenced already.

[2018-05-14 13:59] AnthonyLloyd commented on #246
Then I guess its an issue with BenchmarkDotNet. As long as we are really running sequenced and are cleaning up ok.

[2018-05-15 20:30] haf opened #247 "`Expecto.Flip.Expect.isOk: message:string -> r:Result<'ok,_> -> 'ok`"
When using `Expecto.Flip.Expect` (or plain `Expecto.Expect`), it would be great if most assertions would yield the "inner" or "extracted" value if possible.

This would be a breaking change, but it would be a very nice change and you'd get compiler warnings for all things that now return values. A naming convention for things not returning the values should be set up, too.

This issues is 1) discu

[2018-05-21 12:27] haf opened #248 "Bug: expecto exists without waiting for console on error"
When using `logger.{info,debug,...}`, the facade doesn't wait. If you want it to wait, use infoWithBP or the like.

/cc @AnthonyLloyd

[2018-05-22 07:44] AnthonyLloyd commented on #248
I'll review the use of the logger. Thanks

[2018-05-22 22:37] matthid opened #249 "Console Color not reset?"
From time to time I see https://github.com/fsharp/FAKE/issues/1858 in my shell.
And somehow I feel like expecto is to blame here.

Regarding

https://github.com/haf/expecto/blob/04f12c07e7d148c8a7204e7bc6badc73648c5f46/paket-files/logary/logary/src/Logary.Facade/Facade.fs#L709-L720

Is it possible that multiple `LiterateConsoleTarget` instances exist for example? Or that the execution is cancelled

[2018-05-22 22:53] adamchester commented on #249
Yes, it's quite likely there are either multiple instances using different semaphore locks, or possibly even just [loggers being written to async](https://github.com/haf/expecto/issues/248).

Unfortunately there's no *easy* way to make the coloured output "atomic" across multiple console writers using these APIs (here, we can only serialise writers that use the same lock object, the `sem` argument

[2018-05-22 23:09] matthid commented on #249
Note that if Console.Write throws (don't know if there is a scenario where that happens) or some other exception happens than the console color will not be reset either.

Also note that I'm not really too much concerned about wrong colors within the run. All I currently care about is that expecto should leave my shell in a sane state :/

[2018-05-23 10:45] haf commented on #249
See #248 - I think the case is that we're not waiting for the console printer to finish

[2018-05-23 13:54] matthid commented on #249
Can I somehow workaround?

[2018-05-23 13:58] haf commented on #249
You can change all `info` etc to `infoWithBP` in this repo and PR that and I'll release it.

[2018-05-23 16:19] matthid commented on #249
I have no idea what you are talking about :)
The only thing I did is search for `ForegroundColor` and the result looked suspicious. There is no `info` or `infoWithBP` in the two links?

[2018-05-23 16:22] haf commented on #249
Yes there is in the first link

[2018-05-23 16:39] haf commented on #249
Yes, it being async means it's not blocking your output (which means in turn it doesn't reset the colour)

[2018-05-25 09:37] haf commented on #249
<img width="843" alt="screen shot 2018-05-25 at 11 27 48" src="https://user-images.githubusercontent.com/193115/40537703-dfbac99c-600f-11e8-9cb4-660eb2d9c8e0.png">

This is what the output looks like in Logary proper; we have a different way of handling data there. I think we should have a design session around how to handle modern terminals and how to deal with structured **output** (and not just

[2018-05-25 12:05] AnthonyLloyd commented on #249
Yes there are a few console issues that should be addressed together. Would be good to perfect the output.

I'm in the highlands of Scotland next week so may not be so easy to stay in touch.

[2018-06-02 18:23] jackfoxy opened #250 "enable sourcelink"
I tested the sourcelink change for Expecto.fsproj in another project I was debugging in VS 15.7.3

[2018-06-02 19:18] AnthonyLloyd commented on #250
Thank you!

[2018-06-02 19:18] #250 closed

[2018-06-02 21:00] jackfoxy opened #252 "sequenceEqual breaks on ephemeral sequences"
does not compare properly when actual can only be enumerated once
I'll have a PR soon with tests

[2018-06-03 12:53] #252 closed

[2018-06-03 18:07] jackfoxy opened #254 "Discussion: is inlining Expect.equal really a good idea?"
Inlining thwarts using SourceLink as a debugging tool.

[2018-06-03 19:54] haf commented on #254
No it's probably not a good idea. Feel free to remove it. I think you also have to box the variable usages in that case.

[2018-06-13 07:57] haf opened #255 "Failed to push Expecto.Hopac"
[code]

Not sure how to correct this...

[2018-06-13 07:58] haf commented on #255
Oh, it's @AnthonyLloyd: you need to add me to the owners of this package.

[2018-06-13 10:43] AnthonyLloyd commented on #255
Added. It says 'pending approval' at the moment.

[2018-06-13 11:13] haf commented on #255
Thank you

[2018-06-16 13:05] #255 closed

[2018-06-18 06:53] Alxandr opened #256 "Logging licence"
The logary facade is pretty great, cause it adds no new dependencies to the project. However, given the new licence of logary itself (which as far as I know is the only way to do much with the logs), you are no longer able to use logary in combination with

This. As far as I interpret it (though, I'm in no way a lawyer), means I would not be able to test anything that uses the microsoft webstack,

[2018-06-18 08:01] AnthonyLloyd commented on #256
The logary facade we use is OSS but it may not be updated going forward. The timing is fine for us as we have a few issues related to console output that mean its sensible to go our own way. I've had a look at these and what we can do and I think we can cover them while at the same time simplify logging.
I propose:

- rewrite logging using ANSI colour codes
- add a progress indicator e.g. n/m test

[2018-06-18 08:14] haf commented on #256
@Alxandr Expecto uses the Apache 2.0 licenced Logary Facade, and will continue doing so. I don't see where you are coming from?

The whole point of this Facade is **to abstract away** from the logging framework. If you just implement the `Logger` interface you can do what you want with it. As such there's **absolutely no** requirement to pay my for anything and it will continue to be like that.

@

[2018-06-18 08:28] haf commented on #256
Like #181 ? A span per test?

[2018-06-18 08:34] haf opened #257 "MSFT moved the .Net Core cheese"
The download that FAKE links to is now broken:

https://ci.appveyor.com/project/haf/expecto/build/4.0.649/job/9le52v3217v2jckt#L117

The FAKE scripts needs updating with the right version of .Net Core.

[code]

[2018-06-18 10:06] forki commented on #257
Yes unfortunately. We already reported that. Cc @davkean

Henrik Feldt <notifications@github.com> schrieb am Mo., 18. Juni 2018,
10:34:

[2018-06-18 10:40] AnthonyLloyd commented on #256
Yes, or for the whole output. Possibly only output if there is an error otherwise just continue with the progress indicator.

[2018-06-19 20:35] AnthonyLloyd commented on #257
Moving to dotnet core 2.1.3 fixed it.

[2018-06-19 20:35] #257 closed

[2018-06-21 08:32] Alxandr commented on #256
Well, as long as I can connect to another logging system using `Expecto.Logging.Global.initialise` I guess it's fine. I was under the impression that if you wanted to "route" events anywhere but the console, you'd have to connect it to Logary (using the facade adapter).

[2018-07-01 12:58] #256 closed

[2018-07-01 12:58] haf opened #260 "Sequence contains order assertion"
[code]

/cc @MNie — this is the flipped variant and without printing `al`, the iterated prefix of the actual enumerable. Would you like to add it and make sure it pretty prints `al`?

[2018-07-01 14:58] MNie commented on #260
@haf sure. One thing, I think it would be better to have a signature like:
[code]
and in a Flip module
[code]
So we would be coherent with signatures of other functions in Expecto/Flip module.

[2018-07-02 09:19] MNie commented on #260
@haf I made some base work on this [here](https://github.com/MNie/expecto/tree/feature/sequencecontainsorder) I think about this a little and maybe it would be great to give an information in an error message to a client that `this` and `this` elements are on invalid position? Instead of a generic error message, `order is wrong` or something.

[2018-07-04 12:36] haf commented on #260
@MNie https://github.com/logary/logary/commit/efa3e1caf74534a42313cad62c85bd4505ccba97#diff-655519f9fa808f075e11f3f57bcc1e6aR250

Contains more explicit printing; can you do some good merge thereof?

[2018-07-04 13:01] MNie commented on #260
@haf sure, will do that today :)

[2018-07-04 16:23] AnthonyLloyd commented on #249
resolved with #258

[2018-07-04 16:23] #249 closed

[2018-07-04 16:24] AnthonyLloyd commented on #248
resolved with #258

[2018-07-04 16:24] #248 closed

[2018-07-05 08:14] #254 closed

[2018-07-05 08:17] #94 closed

[2018-07-05 12:17] 0x53A opened #261 "[Feature Request] add automatic method-level discovery"
The biggest differentiator of Expecto is in data driven parametrized tests, where you can easily compose and generate tests without any of the awkward stuff of [x/n]unit. (``[<MemberData("some-string")>]`` 😱 ).

For single test cases (aka xunit ``[<Fact>]``), I prefer the method syntax, to be honest. This is also true (for me personally) in F#, but even more so in C#.

I propose to either add a ne

[2018-07-06 11:11] haf commented on #152
@AnthonyLloyd You mean with a progress bar?

[2018-07-06 11:12] haf commented on #240
I don't think there's a lack of interest, just a lack of time of building it. We have load tests that we run against our platform and I want this issue open to track the possible addition of those to Expecto.

[2018-07-06 21:51] AnthonyLloyd commented on #152
In terms of the console work yes. I'll keep open for the Logger idea.

[2018-07-06 21:52] AnthonyLloyd commented on #240
Ok, happy to keep it open.

[2018-07-06 21:54] AnthonyLloyd commented on #261
Yes I think this could be helpful for people. Rust runs tests in parallel by default and does this.

[2018-07-07 20:39] jackfoxy opened #264 "Test.run returns 1 when all enabled tests pass, but pending tests present"
Would you consider a different return integer for the use case of all enabled tests passing, but some tests ignored (marked pending)?

[2018-07-11 09:42] AnthonyLloyd commented on #264
As far as  can see it only returns 1 if 1) a test fails 2) fail on focus or 3) duplicate test names? Do you see this with pending?

https://github.com/haf/expecto/blob/b81d5be1eeb1f7d02b03ebd4b8ee24ea58a17e12/Expecto/Expecto.fs#L1700

[2018-07-11 15:41] jackfoxy commented on #264
My mistake. Investigated again and you are correct.

[2018-07-11 15:41] #264 closed

[2018-07-13 11:37] #260 closed

[2018-07-20 17:39] 0x53A opened #265 "Add a message string to pending tests"
It would be nice if I could specify why a test is skipped (pending).

Maybe I'm waiting on a specific bugfix (issue tracker url), maybe the test is WIP, maybe the functionality under test is WIP.

[2018-07-20 17:59] jwosty commented on #247
This would be nice. If this is done then also should be done for `Expect.isSome`.

Perhaps the function could be called something else though so that it's backwards compatible -- maybe `getOk`? Or could be put in another namespace+module that could be opened (like Flip)?

[2018-07-20 18:08] 0x53A commented on #261
Thinking about this some more, I would prefer to keep discovery as-is, and just add the helper methods.

That is, ``RunTestsInAssembly`` will only discover static properties.

If you want to run static/instance methods, you will need to use the helper methods, and either assign it to a property prior to calling ``RunTestsInAssembly``, or just directly use ``RunTestsWithArgs``. I currently do the s

[2018-07-23 11:12] haf opened #266 "[Logging] PR back ANSI logger"
To Logary to be used in e.g. HTTP.fs, Fakta, Suave, etc.

[2018-07-25 19:27] haf opened #267 "[Logging] v8.2 logging broken"
<img width="1132" alt="screen shot 2018-07-25 at 21 26 14" src="https://user-images.githubusercontent.com/193115/43222789-6be22cb4-9051-11e8-8f1c-babacc6a0824.png">

<img width="536" alt="screen shot 2018-07-25 at 21 32 23" src="https://user-images.githubusercontent.com/193115/43223090-4b957f96-9052-11e8-9022-473a7bc176e9.png">

`--debug` has started failing: it doesn't print status as it goes.

T

[2018-07-26 15:41] AnthonyLloyd commented on #267
I've not special cased --debug, will need to do that.

I'm not sure about the incorrect progress update. Will check the backspacing. What is this console? I may have to put a switch to turn off progress if we can't get it to work.

On a Scottish island this week. Will take a look on Monday.

[2018-07-26 17:14] haf commented on #267
iTerm in zsh.

[2018-07-27 15:16] 0x53A opened #268 "--version doesn't seem to work"
This is the output I get when calling Expecto from Fake:

[code]

Note how it just prints ``EXPECTO version``

~Unrelated question:~

~what is the INF in ``[17:11:10 INF] EXPECTO? Running tests... <Expecto>``?~
_(Apparently it stands for Informational, the log level. I thought at first it was some floating point issue (INFINITY) ;D)_

__Edit:__

[code]

Executing the code in fsi, ProductVersion is

[2018-07-27 18:35] haf commented on #268
This is most likely a build issue; what nuget version are you using?

[2018-07-28 12:34] 0x53A commented on #268
I checked [6.0 ; 8.1.1] and they all have an empty product version

[2018-07-30 21:59] #268 closed

[2018-07-30 23:04] AnthonyLloyd commented on #267
I've released v8.2.1 that auto flushes for --debug and also hopefully fixed the progress backspace issue.
Let me know how it looks. If we still have issues with the shell I may need to add a disable command line parameter.

[2018-07-31 18:18] t1m0thyj commented on #267
v8.2.1 has broken logging for me, this happens in ConEmu:
![image](https://user-images.githubusercontent.com/22344007/43478428-dab2e90c-94cb-11e8-9803-c37088934fe6.png)

When I downgrade to v8.2.0 the problem goes away:
![image](https://user-images.githubusercontent.com/22344007/43478697-8fca9178-94cc-11e8-8b08-d109becf8b62.png)

[2018-08-01 07:47] AnthonyLloyd commented on #267
@t1m0thyj How are creating the starting/finishing output messages?

[2018-08-03 08:19] 0x53A opened #269 "For Task based tests, exceptions are printed twice"
![grafik](https://user-images.githubusercontent.com/4236651/43632498-a0066d3c-9706-11e8-8d11-62dd033e0718.png)

[2018-08-03 08:25] adamchester commented on #269
Hi @0x53A, there is only one exception there (although it is an aggregate exception, so it contains one or more inner exceptions too), and the output is more or less what ToString() on the exception would generate.

Does this help?

[2018-08-03 08:34] 0x53A commented on #269
Hi @adamchester, yes, the output is correct.

I didn't write it (I should have maybe elaborated a bit more instead of just posting a screenshot ;) ), but my intention was to propose to unwrap AggreagateExceptions.

This is really common and annoying with Task based tests from c#.

What do you think of https://github.com/haf/expecto/pull/270?

[2018-08-03 08:59] adamchester commented on #269
My preference is not to hide the fact that it’s wrapped in an aggregate exception, but I can understand the argument for cleaning it up a little.

[2018-08-03 09:43] AnthonyLloyd commented on #269
I think this does simply for single exceptions. Will accept.

[2018-08-03 09:43] #269 closed

[2018-08-03 09:57] 0x53A commented on #269
@adamchester for reference, the above screenshot was from this source code:

[code]

[2018-08-03 11:20] adamchester commented on #269
:+1:

[2018-08-06 14:03] haf commented on #179
@matthid From missing files on disk?

[2018-08-06 15:42] matthid commented on #179
It's basically about using your test results and processing them further in your pipeline. Most test frameworks output more or less standardized files for this.

You can do analysis like "this test fails often" or something like that. Things you cannot do if you throw your results away on every build.
It's also about integration in existing systems for nice UI.

[2018-08-08 13:49] t1m0thyj commented on #267
Sorry for the delay, I've created a minimal repro [here](https://github.com/t1m0thyj/expecto-267).

The expected output can be seen in the `testWrapper` function:
[code]
But with Expecto 8.2.1, I get this output:
![image](https://user-images.githubusercontent.com/22344007/43841015-2468c66e-9af0-11e8-99c6-11101e7dc011.png)

[2018-08-10 07:11] abk-x commented on #267
Hello, I am having the exact same issue, I have a library under test that uses logary to print debug messages to the console, and 8.2.1 seems to cause the same issues as @t1m0thyj. Reverting to 8.1.1 fixes it for me.

[2018-08-10 09:14] AnthonyLloyd commented on #267
Thanks. I'll take a look over the next few days. If I can't reproduce and resolve I'll put in a command line switch. Would rather not have to do this.

[2018-08-14 14:31] AnthonyLloyd commented on #267
@t1m0thyj thanks for the repo, it really helped.

The problem is each printfn can create multiple calls to stdout that aren't batched. In the last release I auto flush these.

I need to change the code to keep them until there is a newline. Release coming soon.

[2018-08-15 13:58] #267 closed

[2018-08-18 19:14] haf opened #271 "Logging in 8.2.2 prints ANSI to non-ANSI consoles"
## Problem:

<img width="1666" alt="screen shot 2018-08-18 at 21 09 40" src="https://user-images.githubusercontent.com/193115/44302566-98f64e00-a32b-11e8-87e3-1c72c087fa6d.png">

## Solution:

<img width="1654" alt="screen shot 2018-08-18 at 21 13 29" src="https://user-images.githubusercontent.com/193115/44302567-9f84c580-a32b-11e8-9c2e-8533642b22c5.png">

Real solution? Allow configuration option

[2018-08-21 12:13] AnthonyLloyd commented on #271
Yes. I was hoping it wouldn't be needed. But that hope has died. Will add a config option.

[2018-08-29 12:13] object opened #273 "Is it possible to extend Expecto command-line options with custom ones?"
We need to send additional command-line options to an application running Expecto tests. One way is to strip custom options out of argv array and only send to a test runner the ones that Expecto expects. But is there a way to have an extended option collection, so custom options will coexist with standard ones?

[2018-08-29 12:48] haf commented on #273
This depends on what Argu supports, really. I disable throw on unknown in Argu, and strip out the program's arguments before passing it to expecto's parser, myself.

[2018-08-29 13:14] object commented on #273
This is what we are doing now before passing arguments to expecto. Thanks for the clarification.

[2018-08-29 13:14] #273 closed

[2018-09-04 15:47] matthid commented on #179
after looking at this, It's actually not that hard to add:

[code]

With the following:

[code]

I have not tested it in detail but it seems to work rudimentary.

[2018-09-05 09:26] #179 closed

[2018-09-05 09:35] haf commented on #179
@matthid Do you know that FAKE crashes iTerm sometimes?

[2018-09-05 09:37] haf commented on #179
https://github.com/haf/expecto/releases/tag/8.3.0

[2018-09-05 09:38] haf commented on #179
https://github.com/haf/expecto#testresults-file

[2018-09-05 10:13] matthid commented on #179
@haf thanks for taking care of this would have taken me a while to come up with a PR. Also your API looks a bit better ;)

Regarding the fake crash: I never heard it but please open an issue maybe it it reproducible with a while loop and a small script?

[2018-09-05 12:27] haf commented on #179
@matthid NP, thank you for your contribution!

I think it's iTerm+zsh that's buggy; a colleague just got a crash running a simple shell script... I redirected to file and that allowed me to release without crashing.

[2018-09-05 18:49] JonCanning commented on #179
🎉

Is there an Expecto.TestResults package?

[2018-09-05 20:01] haf commented on #179
@JonCanning Yes https://www.nuget.org/packages/Expecto.TestResults

[2018-09-07 11:00] davidtme opened #276 "Expect.equal on records"
I use the Expect.equal to test if records are the same but on records with quite a few fields the message from equal isn’t always helpful as it can be quite long and difficult to see where the mismatch is.

Could the message be altered to include a bit of help? Maybe just passing the 2 records through a sprintf “%A” and using the same logic as this diffString could be a big help.

[2018-09-08 18:36] matthid commented on #179
Well at least it does import to VSTS. So that is good. I don't know how strictly this schema is enforced across build system.

[2018-09-10 15:17] haf commented on #179
Feels a bit hacky to output downright invalid data; we're not nunit...

[2018-09-10 22:26] AnthonyLloyd commented on #271
switch no-spinner added. Will need a bit of a coordinated release next time for dependent projects.

[2018-09-10 22:26] #271 closed

[2018-09-11 12:27] haf commented on #271
Also, it would seem that the console output (albeit not necessarily F# interactive) in Rider supports the new colourisation code of yours!